@import ../config/color
@import ../config/margin-padding
@import ../extends/no-list
@import ../mixins/clearfix
@import ../mixins/selection
@import ../mixins/border-radius
@import ../mixins/clearfix
@import ../mixins/box-shadow
@import ../mixins/css3-prefix


///---------Agregado nuevo
.header-shields-search,
.header-logo-nav,
.nav-full
    :max-width 1040px
    :margin auto
.header-logo-nav .nav-header
    :padding-right 10px
.nav-full
    :padding-left 10px
    :border-radius 0px 0px 5px 5px
    :margin-bottom 9px
.header-logo-nav .logo
    :left 16px
.header-shields-search
    :padding-right 5px
    :border-radius 5px 5px 0px 0px
.fix-logo-nav.header-logo-nav
    :max-width 100%
///----------Agregado nuevo






//SELECTION
@include selection(white, $blue-light)
//BODY
body
    :position relative
    :z-index 1
.box-padd
    :padding 16px 16px 0px 16px
.box-padd.none480
    :border-bottom 1px solid #bfbfbf
    :padding 16px




.home
    .gallery-flow.box
        :max-width 680px
        :margin 0 auto 16px auto


.wrapper-laterales
    :position absolute
    :width 100%
    max-width: 1010px
    overflow: visible !important
    :left 0 !important
    :right 0 !important
    :z-index -1 !important
    :margin auto
    :font-size 0
    // .wrapper-left,
    // .wrapper-right
    //     :display inline-block
    //     :position relative
    //     :width 50%
    // .wrapper-left
    //     :text-align left
    //     :left 0
    // .wrapper-right
    //     :text-align right
    //     :right 0
    a
        :position relative
        :top 0
        z-index: 3      
        &.banner_late_left
            :margin-left -178px
            :left 0
            float: left            
        &.banner_late_right
            :margin-right -178px
            :right 0
            float:  right

// .banner_late_left
//     :float left
// .banner_late_right
//     :float right

// .banner_late_right,
// .banner_late_left
//     :position absolute




.body
    @include clearfix()
    margin-bottom: $margin-bottom
    
    .prominent-news
        h1
            font-size: 2.5em
            font-weight:bold
            margin-bottom:0
            font-family: 'titillium_webbold', arial
            &:before
                :width 5px
                height:  5px
                :background-color red
                display: block

.cntMatch
    height:130px
    margin-bottom: -0.5em
    overflow:hidden
.rppWR-cntMatch
    background-color:white
    position:relative
    border: 1px solid $border-color
    @include border-radius()
    @include box-shadow(1px, 3px, 2px, rgba(0,0,0,0.3))
    width:98%
    height:130px
    margin:0 auto
    z-index: 6
    figure
        display:inline-block
        margin: 0 0 0.75em
    img
        max-width:none
        width:42px
    table
        border-collapse: collapse
        border-spacing: 0
        width: 100%
        td
            text-align:center
            border:0 none
    .rppWR-td1, .rppWR-td3
        width:22%
        text-transform: uppercase
        font-size:0.8em
        font-weight:bold
        >div
            color:#4d4d4d
    .rppWR-td1
        border-right:1px solid $border-color
    .rppWR-td3
        border-left:1px solid $border-color
    .rppWR-td2
        width:56%
    .rppWR-center
        min-height:130px
.rppWR-info-vs
    background-color:#dbf4e1
    color:#028c51
    text-align:left
    font-size:0.8em
    @include box-shadow(1px, 1px, 4px, rgba(0,0,0,0.4))
    height:35px
    overflow:hidden
    a
        color:#028c51
        text-decoration:none
        &:hover
            color:#028c51
            text-decoration:none
    &.rppWR-info-0
        background-color:#6c7363
        color:white
        a
            color:white
            &:hover
                color:white
        .rppWR-type
            background-color:#414439
            i
                top:0.3em
                @include css3-prefix('animation', 'none')
    &.rppWR-info-2
        background-color:#e05363
        color:white
        a
            color:white
            &:hover
                color:white
        .rppWR-type
            background-color:#c52638
            i
                top:0.3em
                @include css3-prefix('animation', 'none')
.rppWR-type
    display:inline-block
    background-color:#008846
    height:35px
    padding:0.75em 0.75em 0 2.5em
    color:white
    text-transform:uppercase
    vertical-align:top
    position:relative
    i
        position:absolute
        left:0.25em
        top:0.15em
        margin:0
        display:inline-block
        font-size:1.75em
        -webkit-animation:icon-spin 2s infinite linear
        animation:icon-spin 2s infinite linear
        //&:before, &:after
.rppWR-league
    display:inline-block
    padding:0.75em 0.25em 0 0.75em
.rppWR-vs-resutls
    font-size:4.25em
    color:#1a1a1a
    a
        color:#1a1a1a
        text-decoration:none
        &:hover
            color:#1a1a1a
            text-decoration:none
    .rppWR-vs-separator
        color: #6f6f6f
        font-size: 0.65em
        margin: 0 0.25em
        font-family: 'titillium_weblight', arial

//MATCH FLOW
.box-match-vs
    .cntMatch
        border-bottom:1px solid $border-color
        margin:0
        position:relative
        .rppWR-cntMatch, .rppWR-td1, .rppWR-td3
            border: 0 none
        .rppWR-cntMatch
            @include box-shadow(0, 0, 0, transparent)
            margin:0
            width:100%
        .rppWR-td1, .rppWR-td3
            width: 26%
        .rppWR-td2
            width: 48%
        .rppWR-info-vs
            position:absolute
            width:100%
            top:0
            left:0
        .rppWR-vs-resutls
            padding-top:35px
        figure
            padding-top:30px
@media (max-width: 1050px)
    body
        overflow-x:  visible !important
    .wrapper-laterales
        :display none
    .wrapper
        padding-left: 15px
        padding-right: 15px




