extends extends/layout.jade

block head
    include includes/head
    

block header
    //Header
    include includes/header
    
block nav    
    nav.nav-full
        //Nav main
        include includes/nav

    include includes/nav-fix-scrolltop
block nav-movil
    include includes/nav-movil

block body 
    main.wrapper
        include includes/laterales
        //ADS Top
        include includes/ads-top
            
        section.body.archive.body-full
            .box
                .box-inner
                    include includes/breadcrumb
                    h3.title-flow Archivo
                    
                    aside.sidebar
                        //Sidebar
                        include includes/sidebar-flow-left
                    section.content.news-flow
                        //News cards
                        include includes/body-flow-right
block footer         
        //Footer
        include includes/footer
        
block scripts             
        include includes/script-footer
        script(src='js/lib/responsive-calendar.min.js')
