extends extends/layout.jade

block head
    include includes/head

block header
    //Header
    include includes/header-mini


block nav    
    //nav.nav-full
        //-- Nav main
        include includes/nav
    include includes/nav-fix-scrolltop
block nav-movil
    include includes/nav-movil

block body



    include includes/slider-gallery
    main.wrapper
        //ADS Top
        include includes/ads-top
            
        section.body.detail
            section.content.news-flow
                //News cards
                include includes/body-gallery

            aside.sidebar
                //Sidebar
                include includes/sidebar-detail
                
block footer         
        //Footer
        include includes/footer
        
block scripts             
        include includes/script-footer