doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title La10
    meta(name='description', content='La10')
    meta(name='viewport', content='width=device-width, initial-scale=1')
        
    link(rel='stylesheet', href='css/rpp_utils.css')
    link(rel='stylesheet', href='css/rpp.css')
    <!--[if lt IE 9]> 
    script(src='js/rpp_utils_head.min.js')
    <![endif]-->
  body
    header
        section.header-shields-search
            div.wrapper
                h6 TODO SOBRE: 
                nav.nav-shields
                    ul
                        - for (var x = 0; x < 5; x++)
                            li
                                figure
                                    a(href="#")
                                        img(src="./img/escudo-thumb.png", alt="Escudo de Equipo N")
                                            
                section.search-header
                    form(action="#")
                        input(type="text", value="buscar")
                        button(type="button")
                            i.icon.icon-search
                    
        section.header-logo-nav
            div.wrapper
                figure.logo
                    a(href="#")
                        img(src="./svg/logo-la10.svg", alt="Logo La10")
                nav.nav-header
                    ul
                        li 
                            a(href="#") Resultados
                        li 
                            a(href="#") Fútbol Peruano
                        li.active 
                            a(href="#") Fútbol Internacional
                        li 
                            a(href="#") Selección
                        li 
                            a(href="#") Full Contacto                        
                        li 
                            a(href="#") + Deportes
            
    nav.nav-full
        section.wrapper
            ul
                li 
                    a(href="#") Alianza Lima
                li 
                    a(href="#") Universitario
                li 
                    a(href="#") Champions
                li 
                    a(href="#") Real Madrid
                li 
                    a(href="#") Barcelona
                li 
                    a(href="#") Boca Junior
                li 
                    a(href="#") Ricardo Gareca
                li 
                    a(href="#") Claudio Pizarro
        
    main.wrapper
    
        section.ads.ads-top
            
        section.widget.widget-resutl
            iframe(src="http://estadisticas.conmebol.com/lastResults_new.html")
            
        section.body
            .content.news-flow
                //News cards
                .grid
                    .col-1-2
                        article.box.prominent
                            .box-inner
                                header
                                    .tag-time
                                        h2.tag
                                            span
                                                i.icon.icon-photo 
                                                |  Libertadores
                                        time(datetime="2015-02-23 19:44") 23/02/15 19:44
                                        
                                    h1
                                        a(href="#") La cifra millonaria para el campeón de la Libertadores
                                    p Impresionante! El ganador de la Libertadores se llevará una fuerte suma de dinero.
                            figure.media
                                a(href="#")
                                    img(src="./img/4-3.jpg", alt="La cifra millonaria para el campeón de la Libertadores")
                    .col-1-2
                        article.box
                            .box-inner
                                header
                                    .tag-time
                                        h2.tag
                                            span
                                                i.icon.icon-photo
                                                |  Futbol Internacional
                                        time(datetime="2015-02-23 19:44") 23/02/15 19:44
                                        
                                    h2
                                        a(href="#") Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca
                                    p El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona
                            figure.media
                                a(href="#")
                                    img(src="./img/16-9.jpg", alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca")
                .grid          
                    .col-1-2
                        article.box.box-gallery
                            .box-inner
                                header
                                    .tag-time
                                        h2.tag
                                            span
                                                i.icon.icon-photo
                                                |  Futbol Peruano
                                        time(datetime="2015-02-23 19:44") 23/02/15 19:44
                                        
                                    h1
                                        a(href="#") Sporting Cristal: así celebró Carlos Lobatón su cumpleaños
                                    p 
                                        | Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)
                            figure.media
                                a(href="#")
                                    img(src="./img/16-9.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
                            section.thumbs-gallery
                                figure.media.left-img
                                    a(href="#")
                                        img(src="./img/16-9.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
                                figure.media.right-img
                                    a(href="#")
                                        img(src="./img/16-9.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
                    .col-1-2
                        article.box
                            .box-inner
                                header
                                    .tag-time
                                        h2.tag
                                            span
                                                i.icon.icon-photo
                                                |  Futbol Peruano
                                        time(datetime="2015-02-23 19:44") 23/02/15 19:44
                                        
                                    h2
                                        a(href="#") Sporting Cristal: así celebró Carlos Lobatón su cumpleaños
                                    p 
                                        | Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)
                            figure.media
                                a(href="#")
                                    img(src="./img/16-9.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
                                a(href="#").aside-figure
                                    span.left-figure
                                        i.icon.icon-history.icon-spin
                                    span.middle-figure EN VIVO
                                    span.right-figure
                                        | Cobertura
                                        i.icon.icon-caret-right
                            section.box-inner
                                div.team-vs
                                    div.time-vs 2do tiempo
                                    div.shield-vs
                                        div.shield
                                            figure
                                                img(src="./img/escudo1.jpg", alt="Equipo A")
                                        div.vs
                                            span 1 
                                            span x 
                                            span 2
                                        div.shield
                                            figure
                                                img(src="./img/escudo2.jpg", alt="Equipo B")
                                    div.team-vs-name
                                        div.team-name.team-left
                                            h2 Real Madrid
                                        div.team-name.team-right
                                            h2 Atlético Madrid
                                        
                                p Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 mese de cárcel en italia.
                
                //More News
                .grid
                    .col-2-2
                        .title-full
                            h3 
                                a(href="#") Más Noticias
                    .col-2-2
                        section.gallery-flow.box
                            article.gallery-inner
                                figure.media
                                    a(href="#")
                                        img(src="./img/16-9-galeria.jpg", alt="Robben Imparable!")
                                        span.prev
                                            i.icon.icon-angle-left
                                        span.next
                                            i.icon.icon-angle-right
                                
                                .title-tag
                                    h3 Galeria del día
                                    h2
                                        a(href="#") Robben Imparable!
                
            .sidebar
                //ADS
                section.ads.ads-sidebar 
                //SOCIAL
                section.share-social.module.module-blue           
                    h3 CONÉCTATE
                    .box
                        ul
                            li
                                a(href="#").facebook
                                    i.icon.icon-facebook
                            li
                                a(href="#").twitter
                                    i.icon.icon-twitter
                            li
                                a(href="#").gplus
                                    i.icon.icon-google-plus
                            li
                                a(href="#").youtube
                                    i.icon.icon-youtube
                //ADS
                section.ads.ads-sidebar
                //Mas Calientes
                section.flow-news.module.module-red           
                    h3 + CALIENTES
                    .box
                        ul
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/4_3_mas_calientes.jpg", alt="MMA: peleador le hizo un Hadouken asu oponente en plena pelea")
                                h2
                                    a(href="#") MMA: peleador le hizo un Hadouken asu oponente en plena pelea
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/4_3_mas_calientes.jpg", alt="Paul Pogba es subastado por las marcas deportivas más grandes del mundo")
                                h2
                                    a(href="#") Paul Pogba es subastado por las marcas deportivas más grandes del mundo
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/4_3_mas_calientes.jpg", alt="The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)")
                                h2
                                    a(href="#") The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/4_3_mas_calientes.jpg", alt="Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores")
                                h2
                                    a(href="#") Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/4_3_mas_calientes.jpg", alt="Alianza Lima: este será el once ante Unión Comercio sin Miers")
                                h2
                                    a(href="#") Alianza Lima: este será el once ante Unión Comercio sin Miers

                //Bloopers
                section.flow-news.module.module-green           
                    h3 BLOOPERS
                    .box
                        ul
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/4_3_mas_calientes.jpg", alt="MMA: peleador le hizo un Hadouken asu oponente en plena pelea")
                                h2
                                    a(href="#") MMA: peleador le hizo un Hadouken asu oponente en plena pelea
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/4_3_mas_calientes.jpg", alt="Paul Pogba es subastado por las marcas deportivas más grandes del mundo")
                                h2
                                    a(href="#") Paul Pogba es subastado por las marcas deportivas más grandes del mundo
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/4_3_mas_calientes.jpg", alt="The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)")
                                h2
                                    a(href="#") The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/4_3_mas_calientes.jpg", alt="Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores")
                                h2
                                    a(href="#") Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/4_3_mas_calientes.jpg", alt="Alianza Lima: este será el once ante Unión Comercio sin Miers")
                                h2
                                    a(href="#") Alianza Lima: este será el once ante Unión Comercio sin Miers
                
                //ADS
                section.ads.ads-sidebar
                
                //Bloopers
                section.girl10-news.module.module-pink           
                    h3 LA CHICA 10
                    .box
                        ul.title-top
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/la_chica_10.jpg", alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana")
                                h2
                                    span
                                        a(href="#") La divina Miss Colombia Paulina Vega es nuestra Chica 10 de la semana
                                        
                //Bloopers
                section.goals.module.module-blue           
                    h3 PEPAZAS
                    .box
                        ul.title-top
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/16_9_mas_pepazas.jpg", alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana")
                                h2
                                    span
                                        a(href="#") Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/16_9_mas_pepazas.jpg", alt="¡Atención Cristal! Racing humilló 5-0 a Táchira por Copa")
                                h2
                                    span
                                        a(href="#") ¡Atención Cristal! Racing humilló 5-0 a Táchira por Copa
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/16_9_mas_pepazas.jpg", alt="Alianza: Un día como hoy golearon 4-1 a Estudiantes")
                                h2
                                    span
                                        a(href="#") Alianza: Un día como hoy golearon 4-1 a Estudiantes
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/16_9_mas_pepazas.jpg", alt="Chelsea empeató 1-1 con PSG y dejó la llave abierta")
                                h2
                                    span
                                        a(href="#") Chelsea empeató 1-1 con PSG y dejó la llave abierta
                            li
                                figure.media
                                    a(href="#")
                                        img(src="./img/16_9_mas_pepazas.jpg", alt="Chelsea empeató 1-1 con PSG y dejó la llave abierta")
                                h2
                                    span
                                        a(href="#") Real Garcilazo venció 2-1 al Alianza Atlético en Piura
                
    footer
        section.logo-footer
            div.wrapper
                figure.logo
                    img(src="./svg/logo-la10.svg",alt="Logo La10")
        section.nav-footer
            div.wrapper
                nav
                    ul
                        li Visita también:
                        li 
                            a(href="#") Radio Capital
                        li 
                            a(href="#") Studio 92
                        li 
                            a(href="#") Radio Oxigeno
                        li 
                            a(href="#") Radio corazón
                        li 
                            a(href="#") La Zona
        section.logo-gruporpp
            div.wrapper
                figure.logo
                    img(src="./svg/logo-grupo-rpp.svg",alt="Logo Grupo RPP")
                
    section#scripts
        script(src='js/rpp_utils.min.js')
        script(src='js/rpp.min.js')
