    <nav class="nav-full">
      <!--Nav main-->
      <section class="wrapper">
        <ul>
          <li class="first-li">Picantes:</li>
          [TENDENCIAS]
        </ul>
      </section>
    </nav>
    <section class="header-logo-nav fix-logo-nav">
      <div class="wrapper">
        <figure class="logo"><a href="./"><img src="img/logo-la10.svg" alt="Logo La10"></a></figure>
        <nav class="nav-header">
          <ul class="nav-fix">
            <li id="open-nav-movil-fix"><i class="icon icon-navicon"></i></li>
          </ul>
        </nav>
      </div>
    </section>
    <main class="wrapper">
      <!--ADS Top PeelOff-->
      <section class="ads ads-top">
        [EPL_960X90_1]
      </section>
      <!--Widget-->
      <!--[WCONMEBOL]-->
      <section class="widget widget-resutl">
        <!--iframe(src="http://estadisticas.conmebol.com/lastResults_new.html")-->
        <div id="outFixture">
          <div class="topFixture">
            <h4>Resultados</h4>
            <nav>
              <ul>
                <!-- <li data-value="0" data-id="#cntFixture" data-events="copainca" onclick="rppWR.tabsResult(this, 'tab')">Torneo del Inca</li> -->
                <li data-value="1" data-id="#cntFixture1" data-events="peru" onclick="rppWR.tabsResult(this, 'tab')" class="active">Descentralizado</li>
                <li data-value="2" data-id="#cntFixture2" data-events="espana" onclick="rppWR.tabsResult(this, 'tab')" >La Liga</li>
                <li data-value="3" data-id="#cntFixture3" data-events="premierleague" onclick="rppWR.tabsResult(this, 'tab')">Premier League</li>
                <li data-value="4" data-id="#cntFixture4" data-events="alemania" onclick="rppWR.tabsResult(this, 'tab')">Bundesliga</li>
                <li data-value="5" data-id="#cntFixture5" data-events="champions" onclick="rppWR.tabsResult(this, 'tab')">Champions</li>
                <li data-value="6" data-id="#cntFixture6" data-events="uefa" onclick="rppWR.tabsResult(this, 'tab')" >Europa League</li>
                <li data-value="7" data-id="#cntFixture7" data-events="copaamerica" onclick="rppWR.tabsResult(this, 'tab')">Copa America</li>
              </ul>
              <select onchange="rppWR.tabsResult(this, 'select')">
                <!-- <option value="0" data-id="#cntFixture" data-events="copainca">Torneo del Inca</option> -->
                <option value="1" data-id="#cntFixture1" data-events="peru" selected="selected">Descentralizado</option>
                <option value="2" data-id="#cntFixture2" data-events="espana" >La Liga</option>
                <option value="3" data-id="#cntFixture3" data-events="premierleague">Premier League</option>
                <option value="4" data-id="#cntFixture4" data-events="alemania">Bundesliga</option>
                <option value="5" data-id="#cntFixture5" data-events="champions">Champions</option>
                <option value="6" data-id="#cntFixture6" data-events="uefa" >Europa League</option>
                <option value="7" data-id="#cntFixture7" data-events="copaamerica">Copa America</option>
              </select>
            </nav>
          </div>
          <!-- <div id="cntFixture" style="display:none"></div> -->
          <div id="cntFixture1" style="display:none">
          	<script charset="utf-8">
              rppWR.read({events: 'peru', type: 'agendaMaM', matchId: ''}).render({id:'#cntFixture1'});
            </script>
          </div>
          <div id="cntFixture2" style="display:none"></div>
          <div id="cntFixture3" style="display:none"></div>
          <div id="cntFixture4" style="display:none"></div>
          <div id="cntFixture5" style="display:none"></div>
          <div id="cntFixture6" style="display:none"></div>
          <div id="cntFixture7" style="display:none"></div>
          <div id="logoDataFactory">
              <a  rel="nofofllow" href="http://www.datafactory.la/" target="_blank"><img src="img/fuente_df.png" alt="Fuente: DataFactory" /></a>
          </div>
        </div>
      </section>

      <section class="body home">
        <section class="content news-flow" id="fix_target">
          <!-- Prominent -->
          [SUPERDESTACADA]
          <!--News cards-->
          <div class="grid grid-flex">
            [TITULARES]
            [FLUJO]
          </div>

          <!--More News-->
          <div class="grid">
            <div class="col-2-2">
              <div class="title-full">
                <h3><a href="/archivo">Más noticias</a></h3>
              </div>
            </div>
          </div>
          [GALERIA]
        </section>
        <aside class="sidebar">
          <!--Sidebar-->
          <!--ADS-->
          <section class="ads ads-sidebar">[EPL_300X250]</section>
          <!--SOCIAL-->
          [CONECTATE]
          <!--BLOOPERS-->
          [BLOOPERS]
          <!--ADS-->
          <section class="ads ads-sidebar">[EPL_300X250_6]</section>
          <!--GIRL 10-->
          [CHICA10]
          <!-- PERU RED -->
          <section class="ads ads-sidebar">[PERURED]</section>
          <div id="fix_sidebar">
              <!--PEPAZAS-->
              [PEPAZAS]
              <!--HOT-->
              [MASCALIENTES]
          </div>
        </aside>
      </section>
    </main>
