/* line 3, /Users/joan/Documents/la10/sass/utils/normalize.sass */
html {
  font-family: 'TitilliumWeb-Regular', arial;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 8, /Users/joan/Documents/la10/sass/utils/normalize.sass */
body {
  margin: 0; }

/* line 23, /Users/joan/Documents/la10/sass/utils/normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 29, /Users/joan/Documents/la10/sass/utils/normalize.sass */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 33, /Users/joan/Documents/la10/sass/utils/normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 38, /Users/joan/Documents/la10/sass/utils/normalize.sass */
[hidden], template {
  display: none; }

/* line 41, /Users/joan/Documents/la10/sass/utils/normalize.sass */
a {
  background-color: transparent; }

/* line 44, /Users/joan/Documents/la10/sass/utils/normalize.sass */
a:active, a:hover {
  outline: 0; }

/* line 47, /Users/joan/Documents/la10/sass/utils/normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 50, /Users/joan/Documents/la10/sass/utils/normalize.sass */
b, strong {
  font-weight: bold; }

/* line 53, /Users/joan/Documents/la10/sass/utils/normalize.sass */
dfn {
  font-style: italic; }

/* line 56, /Users/joan/Documents/la10/sass/utils/normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 60, /Users/joan/Documents/la10/sass/utils/normalize.sass */
mark {
  background: #ff0;
  color: #000; }

/* line 64, /Users/joan/Documents/la10/sass/utils/normalize.sass */
small {
  font-size: 80%; }

/* line 67, /Users/joan/Documents/la10/sass/utils/normalize.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 73, /Users/joan/Documents/la10/sass/utils/normalize.sass */
sup {
  top: -0.5em; }

/* line 76, /Users/joan/Documents/la10/sass/utils/normalize.sass */
sub {
  bottom: -0.25em; }

/* line 79, /Users/joan/Documents/la10/sass/utils/normalize.sass */
img {
  border: 0; }

/* line 82, /Users/joan/Documents/la10/sass/utils/normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 85, /Users/joan/Documents/la10/sass/utils/normalize.sass */
figure {
  margin: 1em 40px; }

/* line 88, /Users/joan/Documents/la10/sass/utils/normalize.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 93, /Users/joan/Documents/la10/sass/utils/normalize.sass */
pre {
  overflow: auto; }

/* line 99, /Users/joan/Documents/la10/sass/utils/normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 107, /Users/joan/Documents/la10/sass/utils/normalize.sass */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 112, /Users/joan/Documents/la10/sass/utils/normalize.sass */
button {
  overflow: visible; }

/* line 115, /Users/joan/Documents/la10/sass/utils/normalize.sass */
button, select {
  text-transform: none; }

/* line 121, /Users/joan/Documents/la10/sass/utils/normalize.sass */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 126, /Users/joan/Documents/la10/sass/utils/normalize.sass */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 130, /Users/joan/Documents/la10/sass/utils/normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 134, /Users/joan/Documents/la10/sass/utils/normalize.sass */
input {
  line-height: normal; }

/* line 138, /Users/joan/Documents/la10/sass/utils/normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 143, /Users/joan/Documents/la10/sass/utils/normalize.sass */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 146, /Users/joan/Documents/la10/sass/utils/normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 153, /Users/joan/Documents/la10/sass/utils/normalize.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 156, /Users/joan/Documents/la10/sass/utils/normalize.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 161, /Users/joan/Documents/la10/sass/utils/normalize.sass */
legend {
  border: 0;
  padding: 0; }

/* line 165, /Users/joan/Documents/la10/sass/utils/normalize.sass */
textarea {
  overflow: auto; }

/* line 168, /Users/joan/Documents/la10/sass/utils/normalize.sass */
optgroup {
  font-weight: bold; }

/* line 171, /Users/joan/Documents/la10/sass/utils/normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 175, /Users/joan/Documents/la10/sass/utils/normalize.sass */
td, th {
  padding: 0; }
