doctype html
html(lang="es")
    head
        block head
        link(rel="icon", type="image/png", href="img/favicon.ico")
    body
        block header
        block nav
        block nav-movil
        block body
        footer
            block footer
        div#pad-swipe-nav                    
        section#scripts
            block scripts
        
