    <nav class="nav-full">
      <!--Nav main-->
      <section class="wrapper">
        <ul>
          <li class="first-li">Picantes:</li>
          [TENDENCIAS]
        </ul>
      </section>
    </nav>
    <section class="header-logo-nav fix-logo-nav">
      <div class="wrapper">
        <figure class="logo"><a href="./"><img src="img/logo-la10.svg" alt="Logo La10"></a></figure>
        <nav class="nav-header">
          <ul class="nav-fix">
            <li id="open-nav-movil-fix"><i class="icon icon-navicon"></i></li>
          </ul>
        </nav>
      </div>
    </section>
    <main class="wrapper">
      <!--ADS Top-->
      <section class="ads ads-top">[EPL_960X90]</section>
      <section class="body archive body-full">
        <section class="box-404">
          <h6> <span class="txt1">Error </span><span class="txt2">404</span></h6>
          <p>  Ooops! Página no encontrada</p>
          <section class="search-total">
            <!--Search-->
            <section class="search-flow">
              <div class="search-flow-inner">
                <form method="GET" action="buscar.php">
                  <input onblur="if (this.value == '') {this.value = 'Buscar';}" onfocus="if (this.value == 'Buscar') {this.value = '';}" id="buscar3" type="text" value="Buscar" name="buscar3" onkeyup="tecla = document.all ? event.keyCode : event.which; if(tecla==13) {d=document.getElementById('buscar3').value; searching(d);} ">
                  <button onclick="db=document.getElementById('buscar3').value; searching(db);" type="button"><i class="icon icon-search"></i></button>
                </form>
              </div>
            </section>
          </section>
        </section>
      </section>
    </main>
