    <nav class="nav-full">
      <!--Nav main-->
      <section class="wrapper">
        <ul>
          [SUBSECCIONES]
        </ul>
      </section>
    </nav>
    <section class="header-logo-nav fix-logo-nav">
      <div class="wrapper">
        <figure class="logo"><a href="./"><img src="img/logo-la10.svg" alt="Logo La10"></a></figure>
        <nav class="nav-header">
          <ul class="nav-fix">
            <li id="open-nav-movil-fix"><i class="icon icon-navicon"></i></li>
          </ul>
        </nav>
      </div>
    </section>
    <main class="wrapper">
      <!--ADS Top-->
      <section class="ads ads-top">[EPL_960X90]</section>
      <section class="body flow">
        <section class="content news-flow" id="fix_target">
          <!--News cards-->
          <div class="grid">
            <div class="col-2-2">
              <section class="box">
                <div class="box-inner">
                  [TITULAR]
                  [FLUJO]
                  <div class="title-full">
                    <h3><a href="/archivo">Ver archivo</a></h3>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>
        <aside class="sidebar">
          <!--Sidebar-->
          <!--ADS-->
          <section class="ads ads-sidebar">[EPL_300X250]</section>
          <!--SOCIAL-->
          [CONECTATE]
          <!--BLOOPERS-->
          [BLOOPERS]
          <!--ADS-->
          <section class="ads ads-sidebar">[EPL_300X250_1]</section>
          <!--GIRL 10-->
          [CHICA10]
          <!--PEPAZAS-->
          [PEPAZAS]
          <div id="fix_sidebar">
              <!--ADS-->
              <section class="ads ads-sidebar">[PERURED]</section>
              <!--HOT-->
              [MASCALIENTES]
          </div>
        </aside>
      </section>
    </main>
