    <nav class="nav-full">
      <!--Nav main-->
      <section class="wrapper">
        <ul>
          <li class="first-li">Picantes:</li>
          [TENDENCIAS]
        </ul>
      </section>
    </nav>
    <section class="header-logo-nav fix-logo-nav">
      <div class="wrapper">
        <figure class="logo"><a href="./"><img src="img/logo-la10.svg" alt="Logo La10"></a></figure>
        <nav class="nav-header">
          <ul class="nav-fix">
            <li id="open-nav-movil-fix"><i class="icon icon-navicon"></i></li>
          </ul>
        </nav>
      </div>
    </section>
    <main class="wrapper">
      <!--ADS Top PeelOff-->
      <section class="ads ads-top">
        [EPL_960X90_1]
      </section>
      <!--Widget-->
      <!--[WCONMEBOL]-->
      <section class="widget-resutl-all" data-toggle="tabs-result">
        <div class="header-nav">
            <select class="select" onchange="rpp.tabsResult(this)">
                <option data-iframe="http://eventos.rpp.com.pe/services/datafactory/html/v3/agendaMaM.html?channel=deportes.futbol.copainca.agenda&lang=es_LA" value="0">Torneo del Inca</option>
                <option selected class="active" data-iframe="http://eventos.rpp.com.pe/services/datafactory/html/v3/agendaMaM.html?channel=deportes.futbol.champions.agenda&lang=es_LA" value="1">Champions League</option>
                <option data-iframe="http://eventos.rpp.com.pe/services/datafactory/html/v3/agendaMaM.html?channel=deportes.futbol.uefa.agenda&lang=es_LA" value="2">Europa League</option>
                <option data-iframe="http://eventos.rpp.com.pe/services/datafactory/html/v3/agendaMaM.html?channel=deportes.futbol.peru.agenda&lang=es_LA" value="3">Descentralizado</option>
                <option data-iframe="http://eventos.rpp.com.pe/services/datafactory/html/v3/agendaMaM.html?channel=deportes.futbol.copaamerica.agenda&lang=es_LA" value="4">Copa America</option>
            </select>
        </div>
        <div class="body-nav">
            <div data-item="item-result" class="item-nav">
            </div>
            <div data-item="item-result" class="item-nav active">
                <section class="widget widget-resutl">
                    <iframe scrolling="no" src="http://eventos.rpp.com.pe/services/datafactory/html/v3/agendaMaM.html?channel=deportes.futbol.champions.agenda&lang=es_LA"></iframe>
                </section>
            </div>
            <div data-item="item-result" class="item-nav">
            </div>
            <div data-item="item-result" class="item-nav">
            </div>
            <div data-item="item-result" class="item-nav">
            </div>
        </div>
      </section>

      <section class="body home">
        <section class="content news-flow" id="fix_target">
          <!-- Prominent -->
          [SUPERDESTACADA]
          <!--News cards-->
          <div class="grid grid-flex">
            [TITULARES]
            [FLUJO]
          </div>

          <!--More News-->
          <div class="grid">
            <div class="col-2-2">
              <div class="title-full">
                <h3><a href="/archivo">Más noticias</a></h3>
              </div>
            </div>
          </div>
          [GALERIA]
        </section>
        <aside class="sidebar">
          <!--Sidebar-->
          <!--ADS-->
          <section class="ads ads-sidebar">[EPL_300X250]</section>
          <!--SOCIAL-->
          [CONECTATE]
          <!--BLOOPERS-->
          [BLOOPERS]
          <!--ADS-->
          <section class="ads ads-sidebar">[EPL_300X250_6]</section>
          <!--GIRL 10-->
          [CHICA10]
          <!-- PERU RED -->
          <section class="ads ads-sidebar">[PERURED]</section>
          <div id="fix_sidebar">
              <!--PEPAZAS-->
              [PEPAZAS]
              <!--HOT-->
              [MASCALIENTES]
          </div>
        </aside>
      </section>
    </main>
