    <nav class="nav-full">
      <!--Nav main-->
      <section class="wrapper">
        <ul>
          <li class="first-li">Picantes:</li>
          [TENDENCIAS]
        </ul>
      </section>
    </nav>
    <section class="header-logo-nav fix-logo-nav">
      <div class="wrapper">
        <figure class="logo"><a href="./"><img src="img/logo-la10.svg" alt="Logo La10"></a></figure>
        <nav class="nav-header">
          <ul class="nav-fix">
            <li id="open-nav-movil-fix"><i class="icon icon-navicon"></i></li>
          </ul>
        </nav>
      </div>
    </section>
    <main class="wrapper">
      <!--ADS Top-->
      <section class="ads ads-top"></section>
      <section class="body archive body-full">
        <div class="box">
          <div class="box-inner">
            <h3 class="title-flow">Archivo</h3>
            <aside class="sidebar">
              <!--Sidebar-->
              <!--Search-->
              <section class="search-flow">
                <div class="search-flow-inner">
                    <form method="GET" action="buscar.php">
                      <input onblur="if (this.value == '') {this.value = 'Buscar';}" onfocus="if (this.value == 'Buscar') {this.value = '';}" id="buscar3" type="text" value="Buscar" name="buscar3" onkeyup="tecla = document.all ? event.keyCode : event.which; if(tecla==13) {d=document.getElementById('buscar3').value; searching(d);} ">
                      <button onclick="db=document.getElementById('buscar3').value; searching(db);" type="button"><i class="icon icon-search"></i></button>
                    </form>
                </div>
              </section>
              <!--CALENDAR-->
              <section class="calendar">
                <div class="box">
                    <!-- Calendar -->
                    <div class="responsive-calendar">
                    <div class="controls">
                        <a class="pull-left" data-go="prev"><div class="btn btn-primary"><i class="icon icon-chevron-left"></i></div></a>
                        <h4><span data-head-month></span> <span data-head-year></span></h4>
                        <a class="pull-right" data-go="next"><div class="btn btn-primary"><i class="icon icon-chevron-right"></i></div></a>
                    </div>
                    <div class="day-headers">
                      <div class="day header">Lun</div>
                      <div class="day header">Mar</div>
                      <div class="day header">Mie</div>
                      <div class="day header">Jue</div>
                      <div class="day header">Vie</div>
                      <div class="day header">Sab</div>
                      <div class="day header">Dom</div>
                    </div>
                    <div class="days" data-group="days">
                    </div>
                    </div>
                    <!-- /Calendar -->
                </div>
              </section>
              <!--FILTER-->
              <section class="filter-date">
                <div class="box">
                  <h3> Filtro cronológico</h3>
                  <nav>
                    <ul>
                      <li class="[ACTIVE12H]"><a href="/archivo-12h">Últimas 12 horas</a></li>
                      <li class="[ACTIVE24H]"><a href="/archivo-24h">Últimas 24 horas</a></li>
                      <li class="[ACTIVE1W]"><a href="/archivo-1w">Última semana</a></li>
                      <li class="[ACTIVE1M]"><a href="/archivo-1m">Último mes</a></li>
                    </ul>
                  </nav>
                </div>
              </section>
            </aside>
            <section class="content news-flow">
              <!--News cards-->
              <div class="grid">
                <div class="col-2-2">
                  <section>
                    [M_ARCHIVO]
                  </section>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </main>
