    <nav class="nav-full">
      <!--Nav main-->
      <section class="wrapper">
        <ul>
          <li class="first-li">Picantes:</li>
          [TENDENCIAS]
        </ul>
      </section>
    </nav>
    <section class="header-logo-nav fix-logo-nav">
      <div class="wrapper">
        <figure class="logo"><a href="./"><img src="img/logo-la10.svg" alt="Logo La10"></a></figure>
        <nav class="nav-header">
          <ul class="nav-fix">
            <li id="open-nav-movil-fix"><i class="icon icon-navicon"></i></li>
          </ul>
        </nav>
      </div>
    </section>
    <main class="wrapper">
      <!--ADS Top-->
      <section class="ads ads-top">[EPL_960X90]</section>
      <section class="body archive body-full">
        <div class="box">
          <div class="box-inner">
            <section class="breadcrumb-full">
              <nav class="breadcrumb">
                <ul>
                  <li>
                    <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"></a></figure>
                  </li>
                  <li><a href="/">Buscador</a></li>
                  <li>[SECCION01]</li>
                </ul>
              </nav>
            </section>
            <h3 class="title-flow">Buscador</h3>
            <aside class="sidebar">
              <!--Sidebar-->
              <!--FILTER-->
              <section class="filter-date">
                <div class="box">
                  <h3> Filtro por secciones</h3>
                  <nav>
                    <ul>
                      <li class=""><a href="[LINK_FUTBOLPERUANO]">Fútbol Peruano</a></li>
                      <li class=""><a href="[LINK_FUTBOLINTERNACIONAL]">Fútbol Internacional</a></li>
                      <li class=""><a href="[LINK_SELECCION]">Selección</a></li>
                      <li class=""><a href="[LINK_FULLCONTACTO]">Full Contacto</a></li>
                      <li class=""><a href="[LINK_MASDEPORTES]">+ Deportes</a></li>
                    </ul>
                  </nav>
                </div>
              </section>
            </aside>
            <section class="content news-flow">
              <!--News cards-->
              <section class="search-total">
                <!--Search-->
                <section class="search-flow">
                  <div class="search-flow-inner">
                    <form method="GET" action="buscar.php">
                      <input onblur="if (this.value == '') {this.value = 'Buscar';}" onfocus="if (this.value == 'Buscar') {this.value = '';}" id="buscar3" type="text" value="Buscar" name="buscar3" onkeyup="tecla = document.all ? event.keyCode : event.which; if(tecla==13) {d=document.getElementById('buscar3').value; searching(d);} ">
                      <button onclick="db=document.getElementById('buscar3').value; searching(db);" type="button"><i class="icon icon-search"></i></button>
                    </form>
                  </div>
                </section>
                <div class="total-txt"><strong>[TOTALNEWS]</strong><span>noticias encontradas</span></div>
              </section>
              <!--Flow-->
              <div class="grid">
                <div class="col-2-2">
                  <section>
                  		[RESULTADOS]
                  </section>
                </div>
              </div>
              <section class="pagination">
                <!--Pagination-->
                <nav>
                  <ul class="pager" data-page="[PAGE]">
                    <li><a href="[LINKSEARCHANTE]"><i class="icon icon-chevron-left"> </i>Anterior</a></li>
                    <li>Página <strong> [PAGINA01] </strong>/ [PAGINA02]</li>
                    <li><a href="[LINKSEARCHSIG]">

                        Siguiente<i class="icon icon-chevron-right"></i></a></li>
                  </ul>
                </nav>
              </section>
            </section>
          </div>
        </div>
      </section>
    </main>
