
    <nav class="nav-full">
      <!--Nav main-->
      <section class="wrapper">
        <ul>
          <li class="first-li">Picantes:</li>
          [TENDENCIAS]
        </ul>
      </section>
    </nav>
    <section class="header-logo-nav fix-logo-nav">
      <div class="wrapper">
        <figure class="logo"><a href="./"><img src="img/logo-la10.svg" alt="Logo La10"></a></figure>
        <nav class="nav-header">
          <ul class="nav-fix">
            <li id="open-nav-movil-fix"><i class="icon icon-navicon"></i></li>
          </ul>
        </nav>
      </div>
    </section>
    <main class="wrapper">
      <!--ADS Top-->
      <section class="ads ads-top">[EPL_960X90]</section>
      <section class="body detail">
        <section class="content news-flow">
          <!--News cards-->
          <div class="grid">
            <div class="col-2-2">
              <section class="box">
                <div class="box-inner">
                  <section class="breadcrumb-social">
                    <nav class="breadcrumb">
                      <ul>
                        <li>
                          <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"></a></figure>
                        </li>
                        <li>[SECCION01]</li>
                      </ul>
                    </nav>
                    <section class="social-detail">
                        <ul>
                            <li><a href="javascript: void(0);" onclick="rpp.shareSocial(this, 'facebook');" class="facebook"><i class="icon icon-facebook"></i></a></li>
                            <li><a href="javascript: void(0);" onclick="rpp.shareSocial(this, 'twitter');" class="twitter"><i class="icon icon-twitter"></i></a></li>
                            <li><a href="javascript: void(0);" onclick="rpp.shareSocial(this, 'googlemas');" class="gplus"><i class="icon icon-google-plus"></i></a></li>
                            <li class="li-whatsapp"><a href="whatsapp://send?text= - http://www.ladiez.pe/" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
                        </ul>
                    </section>
                  </section>
                  <article class="box-detail">
                    <header>
                      <time datetime="[FECHA01]">[FECHA01]</time>
                      <h1>[TITULO01]</h1>
                      <cite class="hat">[GORRO01]</cite>
                    </header>
                    <section class="inner-detail">
                      <section class="img-news">
                         <div id="swfplayer" class="nd_galeriaopen_[NID]">
                        [FOTO01]
                        [PLAYER01]

                        </div>
                      </section>
                      [PLAYER_FOTOS]
                      <ul class="sharedetail-fix nolist">
                        <li>[FBSHARE_02]</li>
                        <li>[RETWEET_02]</li>
                        <li>[GOOGLE+1_02]</li>
                      </ul>
                      <section class="content-news">
                        [BOXENCUESTA]
                        [DESARROLLO01]
                        [INCRUSTADO]
                        <section class="tags">
                          <h3>Tags:</h3>
                         [TAGS01]
                        </section>
                        <section class="social-detail">
                            <ul>
                                <li><a href="javascript: void(0);" onclick="rpp.shareSocial(this, 'facebook');" class="facebook"><i class="icon icon-facebook"></i></a></li>
                                <li><a href="javascript: void(0);" onclick="rpp.shareSocial(this, 'twitter');" class="twitter"><i class="icon icon-twitter"></i></a></li>
                                <li><a href="javascript: void(0);" onclick="rpp.shareSocial(this, 'googlemas');" class="gplus"><i class="icon icon-google-plus"></i></a></li>
                                <li class="li-whatsapp"><a href="whatsapp://send?text= - http://www.ladiez.pe/" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
                            </ul>
                        </section>
                        <section class="comment">
                          <h4>COMENTA:</h4>
                          [COMMENTS]
                        </section>
                        <section class="ads-full">
                          <section class="ads-sidebar">[ADEX01]</section>
                          <section class="ads-sidebar">[ADEX02]</section>
                        </section>
                        [RELACIONADAS]
                        <img src="[COUNTNID]" style="height:1px; width:1px;" />
                      <div class="clear"></div>
                    </section>
                  </article>
                </div>
              </section>
            </div>
          </div>
        </section>
        <aside class="sidebar">
          <!--Sidebar-->
          <!--ADS-->
          <section class="ads ads-sidebar">[EPL_300X250]</section>
          <!--HOT-->
          [MASCALIENTES]
          <!--ADS-->
          <section class="ads ads-sidebar">[PERURED]</section>
          <!--BLOOPERS-->
          [BLOOPERS]
        </aside>
      </section>
    </main>
