    <footer>
      <!--Footer-->
      <section class="logo-footer">
        <div class="wrapper">
          <figure class="logo"><img src="img/logo-la10.svg" alt="Logo La10"></figure>
        </div>
      </section>
      <section class="nav-footer">
        <div class="wrapper">
          <nav>
            <ul>
              <li>Visita también:</li>
              <li> <a href="http://www.rpp.com.pe/" target="_blank">RPP Noticias</a></li>
              <li> <a href="http://www.capital.com.pe/" target="_blank">Radio Capital</a></li>
              <li> <a href="http://www.studio92.com/" target="_blank">Studio 92</a></li>
              <li> <a href="http://www.oxigeno.com.pe/" target="_blank">Radio Oxígeno</a></li>
              <li> <a href="http://www.felicidad.com.pe/" target="_blank">Radio Felicidad</a></li>
              <li> <a href="http://www.radiocorazon.com.pe/" target="_blank">Radio Corazón</a></li>
              <li> <a href="http://www.lazona.com.pe/" target="_blank">La Zona</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="logo-gruporpp">
        <div class="wrapper">
          <figure class="logo"><img src="img/logo-grupo-rpp.svg" alt="Logo Grupo RPP"></figure>
        </div>
      </section>
    </footer>
    [COUNTERS]
    <div id="pad-swipe-nav"></div>
    <section id="scripts">
        [SCRIPTSDETALLE]
      <script src="js/rpp_utils.min.js?v=4"></script>
      <script src="js/rpp_div_fixed.min.js?v=4"></script>
      <script src="js/rpp.min.js?v=5"></script>
    </section>
  </body>
</html>
