          <section class="flow-news module module-green">
            <h3>BLOOPERS</h3>
            <div class="box">
              <ul>
                <li>
                  <article>
                    <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="MMA: peleador le hizo un Hadouken asu oponente en plena pelea"></a></figure>
                    <h2><a href="#">MMA: peleador le hizo un Hadouken asu oponente en plena pelea</a></h2>
                  </article>
                </li>
                <li>
                  <article>
                    <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="Paul Pogba es subastado por las marcas deportivas más grandes del mundo"></a></figure>
                    <h2><a href="#">Paul Pogba es subastado por las marcas deportivas más grandes del mundo</a></h2>
                  </article>
                </li>
                <li>
                  <article>
                    <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)"></a></figure>
                    <h2><a href="#">The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)</a></h2>
                  </article>
                </li>
                <li>
                  <article>
                    <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores"></a></figure>
                    <h2><a href="#">Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores</a></h2>
                  </article>
                </li>
                <li>
                  <article>
                    <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="Alianza Lima: este será el once ante Unión Comercio sin Miers"></a></figure>
                    <h2><a href="#">Alianza Lima: este será el once ante Unión Comercio sin Miers</a></h2>
                  </article>
                </li>
              </ul>
            </div>
          </section>