[JSGALERIA]
<div id="grppfade"  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="gallery" class="modal-dialog">
        <div class="modal-header">
          <div class="logo-modal">
              <figure class="logo"><a href="./"><img src="img/logo-la10.svg" alt="Logo La10"></a></figure>
          </div>
          <h3 class="modal-title" id="myModalLabel">[TITULO01]</h3>
          <a class="close" data-dismiss="modal" onclick="toggleLightbox('close');" href="javascript:void(0);">
              <span class="sr-only"><i class="icon icon-times icon-3x"></i></span>
          </a>
        </div>
        <div class="album box_noclick">
          <div class="modal-content">
            <div class="box_galeria-content">
              <div class="box_album">
                  <div class="modal-body">
                    <a class="left carousel-control" href="#" onclick="beforeP(); return false;" data-slide="prev">
                      <i class="icon icon-angle-left icon-2x"></i>
                    </a>
                    <a class="right carousel-control" href="#" onclick="nextP(); return false;" data-slide="next">
                      <i class="icon icon-angle-right icon-2x"></i>
                    </a>
                    <span class="progress" style="width: 0%;"></span>
                    <ul class="bxslider">
                    </ul>
                  </div>
              </div>

              <div class="box_gsugeridas display_off box_album" id="grppg_sugeridas">
                <h4>Más galerias</h4>
                <ul class="thumbs-galeria">
                  <li>
                    <a href="[LINK01]">
                      <span class="txt_repeat"> <i class="icon icon-repeat icon-spin"></i> ver de nuevo </span>
                      <img class="" src="[FOTO01]" alt="">
                      <span>  [TITULO01]  </span>
                    </a>
                  </li>
                  <li>
                    <a href="[LINK02]">
                      <img class="" src="[FOTO02]" alt="">
                      <span>  [TITULO02]  </span>
                    </a>
                  </li>
                  <li>
                    <a href="[LINK03]">
                      <img class="" src="[FOTO03]" alt="">
                      <span>  [TITULO03]  </span>
                    </a>
                  </li>
                  <li class="no_margin-right">
                    <a href="[LINK04]">
                      <img class="" src="[FOTO04]" alt="">
                      <span>  [TITULO04]  </span>
                    </a>
                  </li>
                  <li>
                    <a href="[LINK05]">
                      <img class="" src="[FOTO05]" alt="">
                      <span>  [TITULO05]  </span>
                    </a>
                  </li>
                  <li>
                    <a href="[LINK06]">
                      <img class="" src="[FOTO06]" alt="">
                      <span>  [TITULO06]  </span>
                    </a>
                  </li>
                  <li>
                    <a href="[LINK07]">
                      <img class="" src="[FOTO07]" alt="">
                      <span>  [TITULO07]  </span>
                    </a>
                  </li>
                  <li class="no_margin-right">
                    <a href="[LINK08]">
                      <img class="" src="[FOTO08]" alt="">
                      <span>  [TITULO08]  </span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="box_thumbs display_off box_album" id="grppg_todas">
                <ul class="thumbs-galeria">
                  <li>
                    <a href="[LINK01]" class="active">
                      <img class="img_size02" src="[FOTO01]" alt="">
                    </a>
                  </li>
                </ul>
              </div>

            </div>
            <div class="modal-body-sidebar">
                <div class="modal-footer box_album">
                    <ul class="item-top-gallery box_btns">
                        <li class="gallery-total">Foto <span id="grpp-gallery-position"></span>/<span id="grpp-gallery-total"></span></li>
                        <li><a id="grpp_thumbs" class="btn_galeria-nd btn btn-primary" href="javascript:showTodas();">
                          <i class="icon icon-th icon-lg"></i>      <span>  Ver todos </span>
                        </a></li>
                        <li><a id="grpp_play" type="button" class="btn btn-primary" href="javascript:playPhoto();">
                          <i class="icon icon-play-circle icon-lg"></i>
                          <span>Reproducir</span>
                        </a></li>
                        <li><a id="grpp_stop" class="btn_galeria-nd btn btn-primary" href="javascript:stopPhoto();" style="display:none;" >
                          <i class="icon icon-stop icon-lg"></i>    <span>  Parar   </span>
                        </a></li>
                    </ul>
                    <h2 id="galeria_titulo">[TITULO01]</h2>
                    <p id="galeria_leyenda"> [GORRO01]</p>
                    <ul class="nd-rs">
                    <li><a href="javascript: void(0);" onclick="rpp.shareSocial(this, 'facebook');"><i class="icon icon-facebook icon-lg"></i></a></li>
                    <li><a href="javascript: void(0);" onclick="rpp.shareSocial(this, 'twitter');" ><i class="icon icon-twitter icon-lg"></i></a></li>
                    <li><a href="javascript: void(0);" onclick="rpp.shareSocial(this, 'googlemas');"><i class="icon icon-google-plus icon-lg"></i></a></li>
                    </ul>
                </div>
                <div class="ads ads-sidebar">
                    [EPL_300X250_GAL]
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
