<li class="loading" style="display:none;">

	<div class="box_foto-galeria">
		<div id="grppg_element[ELEMENTO_ID]">[ELEMENTO01]</div>
	</div>

	<div class="box_lmm-bottom">
		<div class="box_lmm-txt">
			<span class="" id="gleyenda">
				<!--p class="txt_titulo">[TITULO01]</p-->
				<!--p class="txt_gorro">[GORRO01] | Fuente: [FUENTE01] | [CREDITOS01] </p-->
				<p class="txt_gorro">Créditos: [CREDITOS01] </p>
			</span>
		</div>
	</div>
</li>
