                  <article class="flow-normal">
                    <div class="prominent-media">
                      <figure class="media"><a href="[LINK01]"><img src="[FOTO01]" alt="[TITLE01]"></a></figure>
                      <div class="prominent-txt">
                        <h2> <a href="[LINK01]">[TITLE01]</a></h2>
                        <p>[GORRO01]</p>
                        <div class="time-related">Publicado el
                          <time datetime="[DATETIME]"> [DATE]  </time>
                        </div>
                      </div>
                    </div>
                  </article>