  <div class="grid">
    <div class="col-2-2">
      <section class="gallery-flow box">
        <div id="gallery-home" class="owl-carousel">
          <div class="item">
            <article class="gallery-inner">
              <figure class="media"><a href="[LINK01]"><img class="lazyOwl" src="img/16-9-mask.png" data-src="[FOTO01]" alt="[TITLE01]"></a></figure>
              <div class="title-tag">
                <h3>Galerias del día</h3>
                <h2><a href="[LINK01]">[TITLE01]</a></h2>
              </div>
            </article>
          </div>
          <div class="item">
            <article class="gallery-inner">
              <figure class="media"><a href="[LINK02]"><img class="lazyOwl" src="img/16-9-mask.png" data-src="[FOTO02]" alt="[TITLE02]"></a></figure>
              <div class="title-tag">
                <h3>Galerias del día</h3>
                <h2><a href="[LINK02]">[TITLE02]</a></h2>
              </div>
            </article>
          </div>
          <div class="item">
            <article class="gallery-inner">
              <figure class="media"><a href="[LINK03]"><img class="lazyOwl" src="img/16-9-mask.png" data-src="[FOTO03]" alt="[TITLE03]"></a></figure>
              <div class="title-tag">
                <h3>Galerias del día</h3>
                <h2><a href="[LINK03]">[TITLE03]</a></h2>
              </div>
            </article>
          </div>
        </div>
      </section>

    </div>
  </div>
  <script charset="utf-8">
      $("#gallery-home").owlCarousel({
          navigation : true,
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem:true,
          autoPlay: true,
          lazyLoad : true
      });
      var galleryBtns = $('.owl-buttons');
      galleryBtns.children('.owl-prev').html('<i class="icon icon-angle-left"></i>');
      galleryBtns.children('.owl-next').html('<i class="icon icon-angle-right"></i>');
  </script>
