            <div class="col-1-2">
              <article class="box box-gallery [PROMINENT]">
                <div class="box-inner">
                  <header>
                    <div class="tag-time">
                      <h3 class="tag"><span><i class="icon icon-photo"></i> <a href="[LINK_SECCION01]">[SECCION01]</a></span></h3>
                      <time datetime="[DATETIME]">[DATE]</time>
                    </div>
                    <h1><a href="[LINK01]">[TITLE01]</a></h1>
                    <p>[GORRO01]</p>
                  </header>
                </div>
                <figure class="media"><a href="[LINK01]"><img class="img-progress" src="[MASK01]" data-src="[FOTO01]" title="[TITLE01]" alt="[GORRO01]"></a></figure>
                <section class="thumbs-gallery">
                  <figure class="media left-img"><a href="[LINK01]"><img class="img-progress" src="[MASK02]" data-src="[FOTO02]" title="[TITLE01]" alt="[GORRO01]"></a></figure>
                  <figure class="media right-img"><a href="[LINK01]"><img class="img-progress" src="[MASK03]" data-src="[FOTO03]" title="[TITLE01]" alt="[GORRO01]"></a></figure>
                </section>
              </article>
            </div>
