            <div class="col-1-2">
              <article class="box [PROMINENT]">
                <div class="box-inner">
                  <header>
                    <div class="tag-time">
                      <h3 class="tag"><span><i class="icon icon-photo"></i> <a href="#">[SECCION01]</a></span></h3>
                      <time datetime="[DATETIME]">[DATE]</time>
                    </div>
                    <h1><a href="[LINK01]">[TITLE01]</a></h1>
                    <p>[GORRO01]</p>
                  </header>
                </div>
                <figure class="media"><a href="[LINK01]"><img class="img-mask" src="[MASK01]" alt="Imagen mascara"><img class="img-progress" src="[MASK01]" data-src="[FOTO01]" alt="[TITLE01]"></a></figure>
              </article>
            </div>
