            <div class="col-1-2">
              <article class="box prominent">
                <div class="box-inner">
                  <header>
                    <div class="tag-time">
                      <h2 class="tag"><span><i class="icon icon-photo"> </i> Libertadores</span></h2>
                      <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
                    </div>
                    <h1><a href="#">La cifra millonaria para el campeón de la Libertadores</a></h1>
                    <p>Impresionante! El ganador de la Libertadores se llevará una fuerte suma de dinero.</p>
                  </header>
                </div>
                <figure class="media"><a href="#"><img src="img/4-3.jpg" alt="La cifra millonaria para el campeón de la Libertadores"></a></figure>
              </article>
            </div>
            <div class="col-1-2">
              <article class="box">
                <div class="box-inner">
                  <header>
                    <div class="tag-time">
                      <h2 class="tag"><span><i class="icon icon-photo"></i> Futbol Internacional</span></h2>
                      <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
                    </div>
                    <h2><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h2>
                    <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
                  </header>
                </div>
                <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"></a></figure>
              </article>
            </div>
            <div class="col-1-2">
              <article class="box box-gallery">
                <div class="box-inner">
                  <header>
                    <div class="tag-time">
                      <h2 class="tag"><span><i class="icon icon-photo"></i> Futbol Peruano</span></h2>
                      <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
                    </div>
                    <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
                    <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
                  </header>
                </div>
                <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"></a></figure>
                <section class="thumbs-gallery">
                  <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"></a></figure>
                  <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"></a></figure>
                </section>
              </article>
            </div>
            <div class="col-1-2">
              <article class="box">
                <div class="box-inner">
                  <header>
                    <div class="tag-time">
                      <h2 class="tag"><span><i class="icon icon-photo"></i> Futbol Peruano</span></h2>
                      <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
                    </div>
                    <h2><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h2>
                  </header>
                </div>
                <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"></a><a href="#" class="aside-figure"><span class="left-figure"><i class="icon icon-history icon-spin"></i></span><span class="middle-figure">EN VIVO</span><span class="right-figure">Cobertura<i class="icon icon-caret-right"></i></span></a></figure>
                <section class="box-inner">
                  <div class="team-vs">
                    <div class="time-vs">2do tiempo</div>
                    <div class="shield-vs">
                      <div class="shield">
                        <figure><img src="img/escudo1.jpg" alt="Equipo A"></figure>
                      </div>
                      <div class="vs"><span>1 </span><span>x </span><span>2</span></div>
                      <div class="shield">
                        <figure><img src="img/escudo2.jpg" alt="Equipo B"></figure>
                      </div>
                    </div>
                    <div class="team-vs-name">
                      <div class="team-name team-left">
                        <h2>Real Madrid</h2>
                      </div>
                      <div class="team-name team-right">
                        <h2>Atlético Madrid</h2>
                      </div>
                    </div>
                  </div>
                  <p>Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 mese de cárcel en italia.</p>
                </section>
              </article>
            </div>