                  <section class="breadcrumb-full">
                    <nav class="breadcrumb">
                      <ul>
                        <li>
                          <figure class="logo"><a href="/"><img src="img/logo_breadcrumb.png" alt="Logo La10"></a></figure>
                        </li>
                        <li>[SECCION01]</li>
                      </ul>
                    </nav>
                  </section>
                  <h3 class="title-flow">[SECCION01]</h3>
                  <article class="flow-prominent">
                    <h1> <a href="[LINK01]">[TITULO01]</a></h1>
                    <div class="prominent-media">
                      <figure class="media"><a href="[LINK01]"><img src="[FOTO01]" alt="[TITULO01]"></a></figure>
                      <div class="prominent-txt">
                        <p>[GORRO01]</p>
                        <div class="time-related">Publicado el
                          <time datetime="[DATETIME]"> [DATE] </time>
                        </div>
                      </div>
                    </div>
                  </article>