article.box
    .box-inner
        header
            .tag-time
                h3.tag
                    span
                        i.icon.icon-photo
                        a(href="#") Futbol Peruano
                time(datetime="2015-02-23 19:44") 23/02/15 19:44
                
            h1
                a(href="#") Sporting Cristal: así celebró Carlos Lobatón su cumpleaños
    figure.media
        a(href="#")
            img(src="img/16-9.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
        a(href="#").aside-figure
            span.left-figure
                i.icon.icon-history.icon-spin-invert
            span.middle-figure EN VIVO
            span.right-figure Cobertura
                i.icon.icon-caret-right
    section.box-inner
        div.team-vs
            div.time-vs 2do tiempo
            div.shield-vs
                div.shield
                    figure
                        img(src="img/escudo1.jpg", alt="Equipo A")
                div.vs
                    span 1 
                    span x 
                    span 2
                div.shield
                    figure
                        img(src="img/escudo2.jpg", alt="Equipo B")
            div.team-vs-name
                div.team-name.team-left
                    h2 Real Madrid
                div.team-name.team-right
                    h2 Atlético Madrid
                
        p Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 mese de cárcel en italia.
