.grid.grid-flex
    .col-1-2
        include ca-article-vs
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        section.ads.ads-grid-flex(style="display:block;background-color:black;width:300px;height:250px")
    .col-1-2
        include article-vs
    .col-1-2
        include ca-article-gallery
    .col-1-2
        include ca-article
    .col-1-2
        include article-gallery
    .col-1-2
        section.ads.ads-grid-flex(style="display:block;background-color:black;width:300px;height:250px")
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        section.ads.ads-grid-flex(style="display:block;background-color:black;width:300px;height:250px")
        .col-1-2
        section.ads.ads-grid-flex(style="display:block;background-color:black;width:300px;height:250px")
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
    .col-1-2
        include article-gallery
    .col-1-2
        include article
//.grid          
//    .col-1-2
//        include article-gallery
//    .col-1-2
//        include article-vs

//More News
.grid
    .col-2-2
        include ../mixins/title-full
        +title-full('Más noticias') 
.grid
    .col-2-2
        include module-gallery-home
