.grid
    .col-2-2
        section.box
            .box-inner
                include breadcrumb
                h3.title-flow Futbol Internacional
                article.flow-prominent
                    h1 
                        a(href="#") Se complica la renovación de Paolo Guerrero con el Corinthians
                    .prominent-media
                        figure.media
                            a(href="#")
                                img(src="img/16_9_nota_destacada_flujo.jpg", alt="Se complica la renovación de Paolo Guerrero con el Corinthians")
                        .prominent-txt 
                            p El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones
                            .time-related
                                span
                                    i.icon.icon-photo
                                | - Publicado el 
                                time(datetime="2015-02-23 19:44")  23/02/15 
                - for (var x = 0; x < 13; x++)
                    article.flow-normal
                        .prominent-media
                            figure.media
                                a(href="#")
                                    img(src="img/16_9_nota_flujo.jpg", alt="Se complica la renovación de Paolo Guerrero con el Corinthians")
                            .prominent-txt 
                                h2 
                                    a(href="#") Se complica la renovación de Paolo Guerrero con el Corinthians
                                p El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones
                                .time-related
                                    span
                                        i.icon.icon-photo 
                                    | - Publicado el 
                                    time(datetime="2015-02-23 19:44")  23/02/15
                
                include ../mixins/title-full
                +title-full('Ver archivo') 
