.grid
    .col-2-2
        section.box
            .box-inner
                include breadcrumb-social

                article.box-detail
                    
                    header
                        time(datetime="2015-02-23 19:44") 23/02/15 19:44
                            
                        h1 Real Madrid, Triunfa con golazo de Cristiano Ronaldo
                        cite.hat Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 meses de cárcle en Italia.                
                    section.inner-detail.ml

                        section.img-news                                            
                            //include detail-content-img
                            //figure.media.full
                                img(src="img/16_9_ndetalle.jpg", alt="Real Madrid, Triunfa con golazo de Cristiano Ronaldo")
                                figcaption.help-media Agencia AFP
                            //- span.gallery-trigger.prev
                            //-     i.icon.icon-angle-left
                            //- span.gallery-trigger.next
                            //-     i.icon.icon-angle-right
                        
                        ul.sharedetail-fix.nolist.new-social
                            li.social-fb
                                a(href="")
                                    i.icon.icon-facebook
                                    span 45
                            li.social-tw
                                a(href="")
                                    i.icon.icon-twitter
                                    span 54
                            li.social-gplus
                                a(href="")
                                    i.icon.icon-google-plus
                                    span 293
                            
                        section.content-news
                            include detail-content-news
                            
                            include detail-tags
                            
                            include detail-social-bottom
                            
                            
                            section.comment
                                h4 COMENTA:
                                
                            section.ads-full
                                section.ads-sidebar
                                section.ads-sidebar    
                                    
                            include detail-related-news
                        
                        .clear
                                        
