.grid
	.col-2-2
		section.box
			.box-inner
				include breadcrumb-social
			.wrapper-blocks
				include headboard-blocks
				section.body-blocks
					include greedy 
					.content-blocks.noticias
						include items-ca





