.grid
    .col-2-2
        section.box
            .box-inner
                include breadcrumb-social-2
                article.box-detail
                    header
                        time(datetime="2015-02-23 19:44") 23/02/15 19:44
                            
                        h1 Real Madrid, Triunfa con golazo de Cristiano Ronaldo
                        cite.hat Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 meses de cárcle en Italia.                

                        .wrapper-min
                            ul.wrapper-min-list
                                li
                                    a(href="") Previa
                                li
                                    a(href="") Directo
                                li.active
                                    a(href="") Crónica
                            section#MaM-result
                                script
                                  | rppWR.read({events: 'champions', type: 'mam', matchId: '210876'}).renderInterval({id:'#MaM-result'});
      
                    section.inner-detail

                        section.img-news                                            
                            include detail-content-img
                        
                        ul.sharedetail-fix.nolist
                            li FB
                            li TW
                            li GPLUS
                            
                        section.content-news
                            include detail-content-news
                    section.inner-detail.n-padd
                        section.content-news
                            include detail-tags
                            
                            include detail-social-bottom-2
                            section.comment#coment 
                                h4 COMENTA:
                                .fb#fb-root
                                .fb-comments(data-numposts="5" data-colorscheme="light" data-href="www.la10.pe")
                                span.wrapper-icon-circle-o-notch
                                    i.icon.icon-circle-o-notch.fa-spin
                            section.ads-full
                                section.ads-sidebar
                                section.ads-sidebar    
                                    
                            include detail-related-news
                            include connect
                        .clear

                        
                        
