.grid
	.col-2-2
		section.box
			.box-inner
				include breadcrumb-social
			.wrapper-ca
				include headboard-blocks
				section.body-blocks
					include greedy
					.content-blocks.fixture
						.wrapper-select
							select.select-fases 
								option Fase de grupos
								option option 1
								option option 2
								option option 3
							i.icon.icon-chevron-down
						.wrap-tabs
							.header-tab
								ul
									li.item-header-tab.active(data-id="grupoa")
										a(href="#") Grupo A
									li.item-header-tab(data-id="grupob")
										a(href="#") Grupo B
									li.item-header-tab(data-id="grupoc")
										a(href="#") Grupo C
							.content-tab
								#grupoa.active.item-tab
									.wrapper-table
										.caption-table-duo
											h4 fecha 1
										.wrapper-table-duo
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Chile
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Ecuador
												.resultado-table-duo
													ul
														li 2
														li 1
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Chile
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Ecuador
												.resultado-table-duo
													ul
														li 2
														li 1
									.wrapper-table
										.caption-table-duo
											h4 fecha 2
										.wrapper-table-duo
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Chile
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Ecuador
												.resultado-table-duo
													ul
														li 2
														li 1
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Chile
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Ecuador
												.resultado-table-duo
													ul
														li 2
														li 1
									.wrapper-table
										.caption-table-duo
											h4 fecha 3
										.wrapper-table-duo
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Chile
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Ecuador
												.resultado-table-duo
													ul
														li 2
														li 1
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Chile
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Ecuador
												.resultado-table-duo
													ul
														li 2
														li 1
								#grupob.item-tab
									.wrapper-table
										.caption-table-duo
											h4 fecha 1
										.wrapper-table-duo
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Perú
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Brasil
												.resultado-table-duo
													ul
														li 2
														li 1
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Perú
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Brasil
												.resultado-table-duo
													ul
														li 2
														li 1
									.wrapper-table
										.caption-table-duo
											h4 fecha 2
										.wrapper-table-duo
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Perú
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Brasil
												.resultado-table-duo
													ul
														li 2
														li 1
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Perú
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Brasil
												.resultado-table-duo
													ul
														li 2
														li 1
									.wrapper-table
										.caption-table-duo
											h4 fecha 3
										.wrapper-table-duo
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Perú
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Brasil
												.resultado-table-duo
													ul
														li 2
														li 1
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Perú
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Brasil
												.resultado-table-duo
													ul
														li 2
														li 1
								#grupoc.item-tab
									.wrapper-table
										.caption-table-duo
											h4 fecha 1
										.wrapper-table-duo
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Argentina
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Paraguay
												.resultado-table-duo
													ul
														li 2
														li 1
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Argentina
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Paraguay
												.resultado-table-duo
													ul
														li 2
														li 1
									.wrapper-table
										.caption-table-duo
											h4 fecha 2
										.wrapper-table-duo
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Argentina
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Paraguay
												.resultado-table-duo
													ul
														li 2
														li 1
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Argentina
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Paraguay
												.resultado-table-duo
													ul
														li 2
														li 1
									.wrapper-table
										.caption-table-duo
											h4 fecha 3
										.wrapper-table-duo
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Argentina
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Paraguay
												.resultado-table-duo
													ul
														li 2
														li 1
											.table-duo.box
												.fecha-table-duo
													time Jueves 11 de Junio Hora 18:30
												.vs-table-duo
													ul
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Argentina
														li
															img(src="img/icon-tab.png",width="50", height="50")
															span Paraguay
												.resultado-table-duo
													ul
														li 2
														li 1

						
							section.comment#coment
								h4 COMENTA:
								.fb#fb-root
								.fb-comments(data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918")
								span.wrapper-icon-circle-o-notch
									i.icon.icon-circle-o-notch.fa-spin
							section.ads-full
								section.ads-sidebar
								section.ads-sidebar

							include connect