section.breadcrumb-social
    nav.breadcrumb
        ul
            li
                figure.logo
                    a(href="#")
                        img(src="img/logo_breadcrumb.png",alt="Logo La10")
            li Fútbol Internacional
    section.social-detail.nav-sociales.fix-sociales.new
        ul.item-social-detail
            li.large-social-top.func-large
                a(href="#").facebook
                    i.icon.icon-facebook
                    span comparte
            li.small-social-top.func-small
                a(href="#").twitter
                    i.icon.icon-twitter
            li.small-social-top.func-small
                a(href="#").gplus
                    i.icon.icon-google-plus
            li.li-whatsapp.small-social-top.func-small
                a(href="#").whatsapp
                    i.icon.icon-whatsapp
            li.li-icon.func-icon 
                a(href="").plus
                    i.icon.icon-plus
                    i.icon.icon-minus
