article.box.ca
    .box-inner
        header
            .tag-time
                h3.tag
                    span
                        i.icon.icon-photo
                        a(href="#") Copa América
                time(datetime="2015-02-23 19:44") 23/02/15 19:44
                
            h1
                a(href="#") Atlético remonta al Real Madrid, segundo tiempo lleno de emoción
    figure.media
        a(href="#")
            img(src="img/copa1.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
        a(href="#").aside-figure
            span.left-figure
                i.icon.icon-history.icon-spin-invert
            span.middle-figure EN VIVO
            span.right-figure Cobertura
                i.icon.icon-caret-right
    //div#matchId-210871.cntMatch
    //script(charset="utf-8")
        | rppWR.read({events: 'copainca', type: 'MaM', matchId: '210871'}).renderInterval({id:'#matchId-210871', url: 'http://dbg-ladiez.webrpp.com/url.html'});
    </script>
    section.box-inner
        div.team-vs
            div.time-vs 2do tiempo
            div.shield-vs
                div.shield
                    figure
                        img(src="img/escudo1.jpg", alt="Equipo A")
                div.vs
                    span 1 
                    span x 
                    span 2
                div.shield
                    figure
                        img(src="img/escudo2.jpg", alt="Equipo B")
            div.team-vs-name
                div.team-name.team-left
                    h2 Real Madrid
                div.team-name.team-right
                    h2 Atlético Madrid
                
        p Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 mese de cárcel en italia.
