//- p Se dice que segundas partes nunca fueron buenas. Cristiano desmontó esta teoría. En la primera mitad, una falta desde 35 metros, un par de acciones y poco más. Pero desde el pitido inicial de la segunda parte, algo cambió. Liberado de bajar, se puso en modo de ataque y no tardó ni tres minutos en tener la primera ocasión, que desbarató. Tres minutos después, a centro de Bale, Bailly le abrazó dentro del área y Cristiano no fañllo el penalti.
//- //blockquote "Era su gol número 30 en Liga, quinta vez consecutiva que alcanza esta cifra"

//- div.cite-inside
//- 	span 300 goles
//- 	p "Lleva Luis Suárez en lo que va de 5 años en el Club Barcelona"

//- p Era su gol número 30 en Liga, quinta vez consecutiva que alcanza esta cifra-, el primero en el Bernabéu desde que cumplió 30 años. No anotaba en casa en el campeonato desde el 6 de diciembre, cuando le hizo al Celta.
//- div.read-related
//- 	span Lee también: ¡La presencia de Evra! El francés tiene la clave para opacar a Luis Suarez
//- //section.related-news
//-     ul
//-         li
//-             figure.media
//-                 a(href="#")
//-                     img(src="img/16_9_noticia_incrustrada.jpg", alt="MMA: peleador le hizo un Hadouken asu oponente en plena pelea")
//-             h4 Noticias relacionada
//-             h2
//-                 a(href="#") Kroos: "No tengo problemas en retrasar mi posición"

//- p Cristiano Ronaldo alcanzó la treintena ante el Villarreal. Treinta dianas, nueve de ellas de penalti, que le convierten en uno de los artilleros más letales que han pisado los campos de Primera división. Tanto es así que, con esta marca, el jugador portugués ya ha marcado más goles que el 82% de los Pichichis de la Liga, sin olvidarnos que él ya ha ganado dos de los trofeos.
//- div.related-full         
//- 	figure
//- 		img
//- 		figcation
//- 			span Noticias Relacionas
//- 			p Los memes de la empañada Copa de Oro de México
//- p Es una marca brutal que, gracias al pique con Leo Messi, ha propiciado una escalada del listón del máximo goleador en España inigualable en cualquiera de las grandes ligas europeas. Cristiano lleva cinco temporadas alcanzando y superando los 30 goles. Algo al alcance de muy pocos.
