meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title La10
meta(name='description', content='La10')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
meta(name="msapplication-tap-highlight",content="no")
link(rel='stylesheet', href='css/rpp_utils.css')
link(rel='stylesheet', href='css/rpp.css')
script
    | var public_key='1';
script(src='../js/lib/jquery.js')
script(src='../js/lib/carousel.js')
script(src='../js/rpp_widget_results.js')
<!--[if lt IE 9]>
script(src='../js/rpp_utils_head.js')
<![endif]-->
