section.share-social.module.module-blue           
    h3 CONÉCTATE
    .box
        ul
            li
                a(href="#").facebook
                    i.icon.icon-facebook
            li
                a(href="#").twitter
                    i.icon.icon-twitter
            li
                a(href="#").gplus
                    i.icon.icon-google-plus
            li
                a(href="#").youtube
                    i.icon.icon-youtube
