section.flow-news.module.module-green           
    h3 BLOOPERS
    .box
        ul
            li
                article
                    figure.media
                        a(href="#")
                            img(src="img/4_3_mas_calientes.jpg", alt="MMA: peleador le hizo un Hadouken asu oponente en plena pelea")
                    h2
                        a(href="#") MMA: peleador le hizo un Hadouken asu oponente en plena pelea
            li
                article
                    figure.media
                        a(href="#")
                            img(src="img/4_3_mas_calientes.jpg", alt="Paul Pogba es subastado por las marcas deportivas más grandes del mundo")
                    h2
                        a(href="#") Paul Pogba es subastado por las marcas deportivas más grandes del mundo
            li
                article
                    figure.media
                        a(href="#")
                            img(src="img/4_3_mas_calientes.jpg", alt="The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)")
                    h2
                        a(href="#") The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)
            li
                article
                    figure.media
                        a(href="#")
                            img(src="img/4_3_mas_calientes.jpg", alt="Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores")
                    h2
                        a(href="#") Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores
            li
                article
                    figure.media
                        a(href="#")
                            img(src="img/4_3_mas_calientes.jpg", alt="Alianza Lima: este será el once ante Unión Comercio sin Miers")
                    h2
                        a(href="#") Alianza Lima: este será el once ante Unión Comercio sin Miers
