section.wrapper
    ul
        li.first-li Tendencias:
        li 
            a(href="#") Alianza Lima
        li 
            a(href="#") Universitario
        li 
            a(href="#") Champions
        li 
            a(href="#") Real Madrid
        li 
            a(href="#") Barcelona
        li 
            a(href="#") Boca Junior
        li 
            a(href="#") Ricardo Gareca
        li 
            a(href="#") Claudio Pizarro
