.content-blocks.posiciones
	- for(var a = 0; a < 1; a++)
		.wrapper-table
			.container-table
				table.table
					thead
						tr.headboard-table
							th.title-1.duo(colspan="2")
								h4 grupo a
							th.title-3 
								h4 pts.
							th.title-g
								h4 pj
							th.title-g
								h4 pg 
							th.title-g
								h4 pe
							th.title-g
								h4 pp
							th.title-g
								h4 gf 
							th.title-g
								h4 gc
							th.title-g
								h4 df

					tbody
						tr.main-table
							td.tbl-number
								p 1
							td.tbl-equipo
								img(src="img/icon-tab.png")
								p Chile
							td.tbl-goles
								span 19
							td.tbl-num-2
								span 10
							td.tbl-num-2
								span 12
							td.tbl-num-2
								span 19
							td.tbl-num-2
								span 9
							td.tbl-num-2
								span 15
							td.tbl-num-2
								span 4
							td.tbl-num-2
								span 10
						tr.main-table
							td.tbl-number
								p 1
							td.tbl-equipo
								img(src="img/icon-tab.png")
								p Chile
							td.tbl-goles
								span 19
							td.tbl-num-2
								span 10
							td.tbl-num-2
								span 12
							td.tbl-num-2
								span 19
							td.tbl-num-2
								span 9
							td.tbl-num-2
								span 15
							td.tbl-num-2
								span 4
							td.tbl-num-2
								span 10
						tr.main-table
							td.tbl-number
								p 1
							td.tbl-equipo
								img(src="img/icon-tab.png")
								p Chile
							td.tbl-goles
								span 19
							td.tbl-num-2
								span 10
							td.tbl-num-2
								span 12
							td.tbl-num-2
								span 19
							td.tbl-num-2
								span 9
							td.tbl-num-2
								span 15
							td.tbl-num-2
								span 4
							td.tbl-num-2
								span 10
						tr.main-table
							td.tbl-number
								p 1
							td.tbl-equipo
								img(src="img/icon-tab.png")
								p Chile
							td.tbl-goles
								span 19
							td.tbl-num-2
								span 10
							td.tbl-num-2
								span 12
							td.tbl-num-2
								span 19
							td.tbl-num-2
								span 9
							td.tbl-num-2
								span 15
							td.tbl-num-2
								span 4
							td.tbl-num-2
								span 10
						tr.main-table
							td.tbl-number
								p 1
							td.tbl-equipo
								img(src="img/icon-tab.png")
								p Chile
							td.tbl-goles
								span 19
							td.tbl-num-2
								span 10
							td.tbl-num-2
								span 12
							td.tbl-num-2
								span 19
							td.tbl-num-2
								span 9
							td.tbl-num-2
								span 15
							td.tbl-num-2
								span 4
							td.tbl-num-2
								span 10
						tr.main-table
							td.tbl-number
								p 1
							td.tbl-equipo
								img(src="img/icon-tab.png")
								p Chile
							td.tbl-goles
								span 19
							td.tbl-num-2
								span 10
							td.tbl-num-2
								span 12
							td.tbl-num-2
								span 19
							td.tbl-num-2
								span 9
							td.tbl-num-2
								span 15
							td.tbl-num-2
								span 4
							td.tbl-num-2
								span 10
						tr.main-table
							td.tbl-number
								p 1
							td.tbl-equipo
								img(src="img/icon-tab.png")
								p Chile
							td.tbl-goles
								span 19
							td.tbl-num-2
								span 10
							td.tbl-num-2
								span 12
							td.tbl-num-2
								span 19
							td.tbl-num-2
								span 9
							td.tbl-num-2
								span 15
							td.tbl-num-2
								span 4
							td.tbl-num-2
								span 10
						tr.main-table
							td.tbl-number
								p 1
							td.tbl-equipo
								img(src="img/icon-tab.png")
								p Chile
							td.tbl-goles
								span 19
							td.tbl-num-2
								span 10
							td.tbl-num-2
								span 12
							td.tbl-num-2
								span 19
							td.tbl-num-2
								span 9
							td.tbl-num-2
								span 15
							td.tbl-num-2
								span 4
							td.tbl-num-2
								span 10
						tr.main-table
							td.tbl-number
								p 1
							td.tbl-equipo
								img(src="img/icon-tab.png")
								p Chile
							td.tbl-goles
								span 19
							td.tbl-num-2
								span 10
							td.tbl-num-2
								span 12
							td.tbl-num-2
								span 19
							td.tbl-num-2
								span 9
							td.tbl-num-2
								span 15
							td.tbl-num-2
								span 4
							td.tbl-num-2
								span 10
						tr.main-table
							td.tbl-number
								p 1
							td.tbl-equipo
								img(src="img/icon-tab.png")
								p Chile
							td.tbl-goles
								span 19
							td.tbl-num-2
								span 10
							td.tbl-num-2
								span 12
							td.tbl-num-2
								span 19
							td.tbl-num-2
								span 9
							td.tbl-num-2
								span 15
							td.tbl-num-2
								span 4
							td.tbl-num-2
								span 10


	section.comment#coment
		h4 Comenta:
		.fb#fb-root
		.fb-comments(data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918")
		span.wrapper-icon-circle-o-notch
			i.icon.icon-circle-o-notch.fa-spin
	section.ads-full
		section.ads-sidebar
		section.ads-sidebar

	include connect