.wrapper-slider-gallery
	.container-slider-gallery
		#gallery1
		script 
			| rppWR.rppGallery({
			| 	items : [
			|		{
			|			src : 'http://www.antena2.com.co/sites/default/files/imagecache/650x430/imagenes/luis_suarez-ai_3210907k_1431458575.jpg',
			|			credito : 'La10',
			|			description : 'Luis Suárez anoto 2 goles durante el 2do tiempo, además realizó 3 asistencias claves para la victoria frente al PSG.'
			|		},
			|		{
			|			src : 'http://www.antena2.com.co/sites/default/files/imagecache/650x430/imagenes/luis_suarez-ai_3210907k_1431458575.jpg',
			|			credito : 'La10',
			|			description : 'Luis Suárez anoto 2 goles durante el 2do tiempo, además realizó 3 asistencias claves para la victoria frente al PSG.'
			|		},
			|		{
			|			src : 'http://www.antena2.com.co/sites/default/files/imagecache/650x430/imagenes/luis_suarez-ai_3210907k_1431458575.jpg',
			|			credito : 'La10',
			|			description : 'Luis Suárez anoto 2 goles durante el 2do tiempo, además realizó 3 asistencias claves para la victoria frente al PSG.'
			|		}
			|   ],
			|	posicion : 1,
			|	id : '#gallery1'	
			| })
		//ul.gallery-list.slider-g
			- for(var a = 1; a < 4; a++)
				li.item
					figure
						img(src="img/img-gallery.jpg", alt="")
						figcaption 
							strong Luis Suárez anoto 2 goles durante el 2do tiempo, además realizó 3 asistencias claves para la victoria frente al PSG.
							.paginador
								.creditos
									p Créditos:
									span La10
								.pagers-legend-gallery
									i.icon.icon-picture-o
									span #{a} de 3

		.pr 
			a.n(href="")
			a.p(href="")
		//- input(id='button1', type='button', value='history.pushState')
		//- .gallery
		//- 	a(href="/uno.html")
		//- 		img(src="img/uno.jpg", alt="", class="uno", data-name="uno")
		//- 	a(href="/dos.html")
		//- 		img(src="img/dos.jpg", alt="", class="dos", data-name="dos")
		//- 	a(href="/tres.html")
		//- 		img(src="img/tres.jpg", alt="", class="tres", data-name="tres")

		//- p.selected dropp
		//- p.highlight


		//- .content
		//- 	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, perspiciatis at! Cupiditate similique sapiente saepe. Tempora perferendis laudantium doloremque, dignissimos, minus distinctio, ea accusamus totam tempore ad, vel sit rerum!
