section.widget.widget-resutl
    //iframe(src="http://estadisticas.conmebol.com/lastResults_new.html")
    #outFixture
        div.topFixture
            h4 Resultados
            nav
                ul
                    li Torneo del Inca
                    li.active Champions League
                    li Europa League
                    li Descentralizado
                    li Copa America
                select(onchange="rpp.tabsResult(this)")
                    option Torneo del Inca
                    option(selected="selected") Champions League
                    option Europa League
                    option Descentralizado
                    option Copa America
        #cntFixture

        script
            | rppWR.read({events: 'copainca',type: 'MaM', matchId: '224365'}).renderMaM({id: '#matchId-224365'});
                            
