/* BACKGROUND GRADIENT */
@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999)
  background-color: $startColor
  background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor))
  background-image: -webkit-linear-gradient(top, $startColor, $endColor)
  background-image:    -moz-linear-gradient(top, $startColor, $endColor)
  background-image:     -ms-linear-gradient(top, $startColor, $endColor)
  background-image:      -o-linear-gradient(top, $startColor, $endColor)
  background-image:         linear-gradient(top, $startColor, $endColor)
  filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}')
