@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.eot");
  src: url("../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.woff") format('woff'), url("../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.ttf") format('truetype'), url("../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.svg#TitilliumWeb-Regular") format('svg'); }

