//Fonts
@import ../mixins/font-face

//Titinium web
@include font-face('titillium_webregular', 'TitilliumWeb-Regular-webfont', 'TitilliumWeb-Regular-webfont', 'arial')
@include font-face('titillium_webbold', 'TitilliumWeb-Bold-webfont', 'TitilliumWeb-Bold-webfont', 'arial')
@include font-face('titillium_weblight', 'TitilliumWeb-Light-webfont', 'TitilliumWeb-Light-webfont', 'arial')

//Font awesome
@include font-face('FontAwesome', 'fontawesome-webfont', 'fontawesome-webfont', 'sans-serif')

//Font icon futbol fixture
@include font-face('iconfutbol', 'iconfutbol', 'iconfutbol', 'sans-serif')

[data-futbolicon]:before
  font-family: "iconfutbol" !important
  content: attr(data-icon)
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class^="futbolicon-"]:before,
[class*="futbolicon-"]:before
  font-family: "iconfutbol" !important
  font-size:1em
  line-height:1
  text-rendering:auto
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transform:translate(0,0)

.futbolicon-en-vivo:before
  content: "a"

.futbolicon-finalizado:before
  content: "b"

.futbolicon-por-iniciar:before
  content: "c"
