/*
 * 	Core Owl Carousel CSS
.owl-carousel .owl-wrapper:after
	content: "."
	display: block
	clear: both
	visibility: hidden
	line-height: 0
	height: 0

.owl-carousel
	display: none
	position: relative
	width: 100%
	-ms-touch-action: pan-y

.owl-carousel .owl-wrapper
	display: none
	position: relative
	-webkit-transform: translate3d(0px, 0px, 0px)

.owl-carousel .owl-wrapper-outer
	overflow: hidden
	position: relative
	width: 100%

.owl-carousel .owl-wrapper-outer.autoHeight
	-webkit-transition: height 500ms ease-in-out
	-moz-transition: height 500ms ease-in-out
	-ms-transition: height 500ms ease-in-out
	-o-transition: height 500ms ease-in-out
	transition: height 500ms ease-in-out

.owl-carousel .owl-item
	float: left

.owl-controls .owl-page,
.owl-controls .owl-buttons div
	cursor: pointer

.owl-controls
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

/* mouse grab icon */
.grabbing
    cursor:url(grabbing.png) 8 8, move

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item
	-webkit-backface-visibility: hidden
	-moz-backface-visibility:    hidden
	-ms-backface-visibility:     hidden
  -webkit-transform: translate3d(0,0,0)
  -moz-transform: translate3d(0,0,0)
  -ms-transform: translate3d(0,0,0)

#owl-demo .item img
    display: block
    width: 100%
    height: auto


//New gallery
.wrapper-slider-gallery
	:background-color black


.container-slider-gallery
	:max-width 1040px;
	:margin auto
	
.gallery-list
	:max-width 825px;
	:margin auto
	:padding 0
	:text-align center
	:position relative
	.owl-prev,
	.owl-next
		:position absolute
		:width 40px
		height: 40px
		:top 0
		:bottom 0
		:margin auto
		:background-color #0066AD
		:color white
		:font-size 30px
		:border-radius 4px
		:font-weight 900
		:text-align center
		i
			:display inline-block
	.owl-prev
		:left -70px

	.owl-next
		:right -70px
	figcaption
		:position relative
	li
		:list-style-type none
	strong
		:color white
		:text-align left
		:width 700px
		:display table-cell
		:padding 0px 10px
		vertical-align: middle
		:font-weight 300
	img
		:max-width 100%;
		:display block
		:margin-bottom 5px
	.paginador
		:width 120px
		:display table-cell
		:height 65px
		vertical-align:  middle
		:padding 0px 20px
		:border-left 1px solid white
	.creditos
		:text-align left
		p 
			:margin 0
			:display inline 
		p, span
			:color #a0a0a0
			:font-size 10px
	.pagers-legend-gallery
		:text-align left
		i 
			:margin-right 5px

#open-nav-movil-fix2
	:margin-top 5px
	:margin-bottom 5px





















