@import ../config/grid
@import ../mixins/clearfix
//General
.wrapper
    @include clearfix()
    margin-left: auto
    margin-right: auto
    padding-left: $pad - 1
    padding-right: $pad - 1
    max-width: $xlarge + 1 - 240
    //1040px

.content
    width:100%
    margin-right: -$sidebar
    padding-right: $sidebar + $pad
    //+ $pad
    float:left
.sidebar
    width: $sidebar
    float:right

.archive
    .content
        margin-left: -$sidebar
        padding-left: $sidebar + $pad
        margin-right: 0
        padding-right: 0
        float: right
    .sidebar
      float: left
      position:relative
      z-index:2


//Grid Flex
.grid-flex
    position:relative
    min-height:700px
    [class*='col-']
        position:absolute
        left:0
        top:0
        visibility:hidden
        opacity:0
        &:nth-child(1),&:nth-child(2)
            visibility:visible
            opacity:1
        &:nth-child(2)
            left:50%

    .col-left
        padding-right: $pad/2!important
        padding-left: 0!important
    .col-right
        padding-right: 0!important
        padding-left: $pad/2!important

//Grid
.grid
    @include clearfix()
    margin: 0 0 $pad 0

[class*='col-']
    float: left
    padding-right: $pad/2
    padding-left: $pad/2
    .grid
        &:last-of-type
            padding-right: 0

.grid
    [class*='col-']
        &:nth-child(2n+2)
            padding-right:0
        &:nth-child(2n+1)
            padding-left:0
        &:last-of-type
            padding-right:0
        &:first-of-type
            padding-left:0

.col-2-3
    width: 66.66%

.col-1-3
    width: 33.33%

.col-1-2
    width: 50%

.col-2-2
    width: 100%

.col-1-4
    width: 25%

.col-1-8
    width: 12.5%

.col-1-14
    width: 7.14285714%

/* Opt-in outside padding */
.grid-pad
    padding: $pad 0 $pad $pad
    [class*='col-']:last-of-type
        padding-right: $pad

//.grid or .grid.grid-pad
//    .col-2-3
//        article.module article
//    .col-1-3
//        aside.module Sidebar
