
<article class="box box-gallery">
  <div class="box-inner">
    <header>
      <div class="tag-time">
        <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
        <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
      </div>
      <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
      <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
    </header>
  </div>
  <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
  <section class="thumbs-gallery">
    <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
    <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
  </section>
</article>