
<article class="box prominent">
  <div class="box-inner">
    <header>
      <div class="tag-time">
        <h3 class="tag"><span><i class="icon icon-photo"> </i><a href="#">Libertadores</a></span></h3>
        <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
      </div>
      <h1><a href="#">La cifra millonaria para el campeón de la Libertadores</a></h1>
      <p>Impresionante! El ganador de la Libertadores se llevará una fuerte suma de dinero.</p>
    </header>
  </div>
  <figure class="media"><a href="#"><img src="img/4-3.jpg" alt="La cifra millonaria para el campeón de la Libertadores"/></a></figure>
</article>