
<div class="grid">
  <div class="col-2-2">
    <section>
      <article class="flow-prominent">
        <h1> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h1>
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_destacada_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15 </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
      <article class="flow-normal">
        <div class="prominent-media">
          <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
          <div class="prominent-txt"> 
            <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
            <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
            <div class="time-related">Publicado el 
              <time datetime="2015-02-23 19:44"> 23/02/15  </time>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>