
<div class="grid">
  <div class="col-2-2">
    <section class="box">
      <div class="box-padd none480">
        <section class="breadcrumb-social">
          <nav class="breadcrumb">
            <ul>
              <li>
                <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
              </li>
              <li>Fútbol Internacional</li>
            </ul>
          </nav>
          <section class="social-detail nav-sociales fix-sociales new">
            <ul class="item-social-detail">
              <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
              <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
              <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
              <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
              <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
            </ul>
          </section>
        </section>
      </div>
      <div class="box-sinpadd">
        <article class="box-detail fixt">
          <div class="header-resultados box-padd"><a href="" class="link480"></a><span class="etq-result">Resultados</span>
            <h3>Copa america chile 2015</h3>
            <div class="wrap-select"><i class="icon icon-unsorted"></i>
              <select>
                <option>Más torneos</option>
                <option>option 1</option>
                <option>option 2</option>
              </select>
            </div>
          </div>
          <div class="tab-resultados">
            <ul>
              <li class="act"><a href="">Resultados</a></li>
              <li><a href="">Fixture</a></li>
              <li> <a href="">Posiciones</a></li>
              <li> <a href="">Goleadores</a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="content-blocks posiciones">
        <div class="wrapper-table">
          <div class="container-table">
            <table class="table">
              <thead>
                <tr class="headboard-table">
                  <th colspan="2" class="title-1 duo">
                    <h4>grupo a</h4>
                  </th>
                  <th class="title-3"> 
                    <h4>pts.</h4>
                  </th>
                  <th class="title-g">
                    <h4>pj</h4>
                  </th>
                  <th class="title-g">
                    <h4>pg </h4>
                  </th>
                  <th class="title-g">
                    <h4>pe</h4>
                  </th>
                  <th class="title-g">
                    <h4>pp</h4>
                  </th>
                  <th class="title-g">
                    <h4>gf </h4>
                  </th>
                  <th class="title-g">
                    <h4>gc</h4>
                  </th>
                  <th class="title-g">
                    <h4>df</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="main-table">
                  <td class="tbl-number">
                    <p>1</p>
                  </td>
                  <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                    <p>Chile</p>
                  </td>
                  <td class="tbl-goles"><span>19</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                  <td class="tbl-num-2"><span>12</span></td>
                  <td class="tbl-num-2"><span>19</span></td>
                  <td class="tbl-num-2"><span>9</span></td>
                  <td class="tbl-num-2"><span>15</span></td>
                  <td class="tbl-num-2"><span>4</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                </tr>
                <tr class="main-table">
                  <td class="tbl-number">
                    <p>1</p>
                  </td>
                  <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                    <p>Chile</p>
                  </td>
                  <td class="tbl-goles"><span>19</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                  <td class="tbl-num-2"><span>12</span></td>
                  <td class="tbl-num-2"><span>19</span></td>
                  <td class="tbl-num-2"><span>9</span></td>
                  <td class="tbl-num-2"><span>15</span></td>
                  <td class="tbl-num-2"><span>4</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                </tr>
                <tr class="main-table">
                  <td class="tbl-number">
                    <p>1</p>
                  </td>
                  <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                    <p>Chile</p>
                  </td>
                  <td class="tbl-goles"><span>19</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                  <td class="tbl-num-2"><span>12</span></td>
                  <td class="tbl-num-2"><span>19</span></td>
                  <td class="tbl-num-2"><span>9</span></td>
                  <td class="tbl-num-2"><span>15</span></td>
                  <td class="tbl-num-2"><span>4</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                </tr>
                <tr class="main-table">
                  <td class="tbl-number">
                    <p>1</p>
                  </td>
                  <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                    <p>Chile</p>
                  </td>
                  <td class="tbl-goles"><span>19</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                  <td class="tbl-num-2"><span>12</span></td>
                  <td class="tbl-num-2"><span>19</span></td>
                  <td class="tbl-num-2"><span>9</span></td>
                  <td class="tbl-num-2"><span>15</span></td>
                  <td class="tbl-num-2"><span>4</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                </tr>
                <tr class="main-table">
                  <td class="tbl-number">
                    <p>1</p>
                  </td>
                  <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                    <p>Chile</p>
                  </td>
                  <td class="tbl-goles"><span>19</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                  <td class="tbl-num-2"><span>12</span></td>
                  <td class="tbl-num-2"><span>19</span></td>
                  <td class="tbl-num-2"><span>9</span></td>
                  <td class="tbl-num-2"><span>15</span></td>
                  <td class="tbl-num-2"><span>4</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                </tr>
                <tr class="main-table">
                  <td class="tbl-number">
                    <p>1</p>
                  </td>
                  <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                    <p>Chile</p>
                  </td>
                  <td class="tbl-goles"><span>19</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                  <td class="tbl-num-2"><span>12</span></td>
                  <td class="tbl-num-2"><span>19</span></td>
                  <td class="tbl-num-2"><span>9</span></td>
                  <td class="tbl-num-2"><span>15</span></td>
                  <td class="tbl-num-2"><span>4</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                </tr>
                <tr class="main-table">
                  <td class="tbl-number">
                    <p>1</p>
                  </td>
                  <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                    <p>Chile</p>
                  </td>
                  <td class="tbl-goles"><span>19</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                  <td class="tbl-num-2"><span>12</span></td>
                  <td class="tbl-num-2"><span>19</span></td>
                  <td class="tbl-num-2"><span>9</span></td>
                  <td class="tbl-num-2"><span>15</span></td>
                  <td class="tbl-num-2"><span>4</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                </tr>
                <tr class="main-table">
                  <td class="tbl-number">
                    <p>1</p>
                  </td>
                  <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                    <p>Chile</p>
                  </td>
                  <td class="tbl-goles"><span>19</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                  <td class="tbl-num-2"><span>12</span></td>
                  <td class="tbl-num-2"><span>19</span></td>
                  <td class="tbl-num-2"><span>9</span></td>
                  <td class="tbl-num-2"><span>15</span></td>
                  <td class="tbl-num-2"><span>4</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                </tr>
                <tr class="main-table">
                  <td class="tbl-number">
                    <p>1</p>
                  </td>
                  <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                    <p>Chile</p>
                  </td>
                  <td class="tbl-goles"><span>19</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                  <td class="tbl-num-2"><span>12</span></td>
                  <td class="tbl-num-2"><span>19</span></td>
                  <td class="tbl-num-2"><span>9</span></td>
                  <td class="tbl-num-2"><span>15</span></td>
                  <td class="tbl-num-2"><span>4</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                </tr>
                <tr class="main-table">
                  <td class="tbl-number">
                    <p>1</p>
                  </td>
                  <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                    <p>Chile</p>
                  </td>
                  <td class="tbl-goles"><span>19</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                  <td class="tbl-num-2"><span>12</span></td>
                  <td class="tbl-num-2"><span>19</span></td>
                  <td class="tbl-num-2"><span>9</span></td>
                  <td class="tbl-num-2"><span>15</span></td>
                  <td class="tbl-num-2"><span>4</span></td>
                  <td class="tbl-num-2"><span>10</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <section id="coment" class="comment">
          <h4>Comenta:</h4>
          <div id="fb-root" class="fb"></div>
          <div data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918" class="fb-comments"></div><span class="wrapper-icon-circle-o-notch"><i class="icon icon-circle-o-notch fa-spin"></i></span>
        </section>
        <section class="ads-full">
          <section class="ads-sidebar"></section>
          <section class="ads-sidebar"></section>
        </section>
        <section class="connect">
          <h4>Conéctate a la 10</h4>
          <ul>
            <li><a href="" class="wrapper-icon-connect"><i class="icon icon-facebook"></i></a></li>
            <li><a href="" class="wrapper-icon-connect"><i class="icon icon-twitter"></i></a></li>
            <li><a href="" class="wrapper-icon-connect"><i class="icon icon-google-plus"></i></a></li>
            <li><a href="" class="wrapper-icon-connect"><i class="icon icon-youtube"></i></a></li>
            <li><a href="" class="wrapper-icon-connect"><i class="icon icon-vine"></i></a></li>
          </ul>
        </section>
      </div>
    </section>
  </div>
</div>