
<div class="grid">
  <div class="col-2-2">
    <section class="box">
      <div class="box-inner">
        <section class="breadcrumb-social s-detail">
          <nav class="breadcrumb">
            <ul>
              <li>
                <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
              </li>
              <li>Fútbol Internacional</li>
            </ul>
          </nav>
          <section class="social-detail nav-sociales fix-sociales new">
            <ul class="item-social-detail">
              <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
              <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
              <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
              <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
              <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
            </ul>
            <ul class="item-social-detail">
              <li class="li-comenta-small"><a href="#coment" data-idfb="287920207998918" class="comenta"><i class="icon icon-comments-o"></i>
                  <section class="inner-detail n-padd block-minuto">
                    <section class="content-news">
                      <section class="wrapper-minuto-widgets">
                        <div class="block1-minuto-widget">
                          <div class="socials-minuto-widgets">
                            <ul>
                              <li>fb</li>
                              <li>tw</li>
                              <li>g+</li>
                            </ul>
                          </div>
                          <div class="formacion-widget-minuto"></div>
                          <div class="ads-minuto"></div>
                        </div>
                        <div class="block2-minuto-widget">
                          <div class="widget-twitter-minuto"></div>
                        </div>
                      </section>
                      <section class="wrapper-asides">
                        <div class="wrapper-relato-minuto"></div>
                        <div class="ads-minuto"></div>
                      </section>
                      <section class="tags">
                        <h3>Tags:</h3>
                        <h2><a href="#">RONALDO</a></h2>
                        <h2><a href="#">REAL MADRID</a></h2>
                        <h2><a href="#">ESPAÑA</a></h2>
                        <h2><a href="#">CHAMPIONS</a></h2>
                        <h2><a href="#">PORTUGAL</a></h2>
                      </section>
                      <section class="social-detail social-2">
                        <ul class="item-social-detail">
                          <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
                          <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
                          <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
                          <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
                          <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
                        </ul>
                        <ul class="item-social-detail">
                          <li class="li-comenta-large"><a data-idfb="287920207998918" data-type="s-click" class="lazy comenta bot"><i class="icon icon-comments-o"> </i><span>comenta</span></a>
                            <div class="text-comenta">
                              <p>120</p><span>comentarios</span>
                            </div>
                          </li>
                        </ul>
                      </section>
                      <section id="coment" class="comment"> 
                        <h4>COMENTA:</h4>
                        <div id="fb-root" class="fb"></div>
                        <div data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918" class="fb-comments"></div><span class="wrapper-icon-circle-o-notch"><i class="icon icon-circle-o-notch fa-spin"></i></span>
                      </section>
                      <section class="connect">
                        <h4>Conéctate a la 10</h4>
                        <ul>
                          <li><a href="" class="wrapper-icon-connect"><i class="icon icon-facebook"></i></a></li>
                          <li><a href="" class="wrapper-icon-connect"><i class="icon icon-twitter"></i></a></li>
                          <li><a href="" class="wrapper-icon-connect"><i class="icon icon-google-plus"></i></a></li>
                          <li><a href="" class="wrapper-icon-connect"><i class="icon icon-youtube"></i></a></li>
                          <li><a href="" class="wrapper-icon-connect"><i class="icon icon-vine"></i></a></li>
                        </ul>
                      </section>
                    </section>
                    <div class="clear"></div>
                  </section></a></li>
            </ul>
          </section>
        </section>
      </div>
    </section>
  </div>
</div>