
<div class="grid">
  <div class="col-2-2">
    <section class="box">
      <div class="box-inner">
        <section class="breadcrumb-social">
          <nav class="breadcrumb">
            <ul>
              <li>
                <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
              </li>
              <li>Fútbol Internacional</li>
            </ul>
          </nav>
          <section class="social-detail nav-sociales fix-sociales new">
            <ul class="item-social-detail">
              <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
              <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
              <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
              <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
              <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
            </ul>
          </section>
        </section>
      </div>
      <div class="wrapper-blocks">
        <section class="headboard-blocks">
          <div class="title-blocks"><span>futbol internacional</span>
            <h2>Copa América 2015</h2>
          </div>
        </section>
        <section class="body-blocks">
          <div class="menu-blocks greedy-nav">
            <button>
              <div class="hamburger"></div>
            </button>
            <ul class="visible-links">
              <li><a href="" class="active">Noticias</a></li>
              <li><a href="">Fixture</a></li>
              <li> <a href="">Posiciones</a></li>
              <li><a href="">Goleadores</a></li>
              <li><a href="">Equipos</a></li>
            </ul>
            <ul class="hidden-links hidden"></ul>
          </div>
          <div class="content-blocks noticias">
            <article class="flow-prominent">
              <h1> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h1>
              <div class="prominent-media">
                <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="380"/></a></figure>
                <div class="prominent-txt"> 
                  <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
                  <div class="time-related"><span><i class="icon icon-photo"></i></span>- Publicado el 
                    <time datetime="2015-02-23 19:44"> 23/02/15 </time>
                  </div>
                </div>
              </div>
            </article>
            <article class="flow-normal">
              <div class="prominent-media">
                <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
                <div class="prominent-txt"> 
                  <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
                  <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
                  <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                    <time datetime="2015-02-23 19:44"> 23/02/15</time>
                  </div>
                </div>
              </div>
            </article>
            <article class="flow-normal">
              <div class="prominent-media">
                <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
                <div class="prominent-txt"> 
                  <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
                  <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
                  <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                    <time datetime="2015-02-23 19:44"> 23/02/15</time>
                  </div>
                </div>
              </div>
            </article>
            <article class="flow-normal">
              <div class="prominent-media">
                <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
                <div class="prominent-txt"> 
                  <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
                  <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
                  <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                    <time datetime="2015-02-23 19:44"> 23/02/15</time>
                  </div>
                </div>
              </div>
            </article>
            <article class="flow-normal">
              <div class="prominent-media">
                <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
                <div class="prominent-txt"> 
                  <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
                  <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
                  <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                    <time datetime="2015-02-23 19:44"> 23/02/15</time>
                  </div>
                </div>
              </div>
            </article>
            <article class="flow-normal">
              <div class="prominent-media">
                <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
                <div class="prominent-txt"> 
                  <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
                  <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
                  <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                    <time datetime="2015-02-23 19:44"> 23/02/15</time>
                  </div>
                </div>
              </div>
            </article>
            <article class="flow-normal">
              <div class="prominent-media">
                <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
                <div class="prominent-txt"> 
                  <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
                  <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
                  <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                    <time datetime="2015-02-23 19:44"> 23/02/15</time>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>