
<div class="content-blocks goleadores">
  <div class="wrapper-table">
    <div class="container-table">
      <table class="table">
        <thead>
          <tr class="headboard-table">
            <th class="title-1"> 
              <h4>Jugador</h4>
            </th>
            <th class="title-2"> 
              <h4>Equipos</h4>
            </th>
            <th class="title-3"> 
              <h4>Goles</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="main-table">
            <td class="tbl-nombre"> 
              <p>Antonio Meza Cuadra</p>
            </td>
            <td class="tbl-equipo"><img src="img/icon-tab.png"/>
              <p>Chile</p>
            </td>
            <td class="tbl-goles"><span>19</span></td>
          </tr>
          <tr class="main-table">
            <td class="tbl-nombre"> 
              <p>Antonio Meza Cuadra</p>
            </td>
            <td class="tbl-equipo"><img src="img/icon-tab.png"/>
              <p>Chile</p>
            </td>
            <td class="tbl-goles"><span>19</span></td>
          </tr>
          <tr class="main-table">
            <td class="tbl-nombre"> 
              <p>Antonio Meza Cuadra</p>
            </td>
            <td class="tbl-equipo"><img src="img/icon-tab.png"/>
              <p>Chile</p>
            </td>
            <td class="tbl-goles"><span>19</span></td>
          </tr>
          <tr class="main-table">
            <td class="tbl-nombre"> 
              <p>Antonio Meza Cuadra</p>
            </td>
            <td class="tbl-equipo"><img src="img/icon-tab.png"/>
              <p>Chile</p>
            </td>
            <td class="tbl-goles"><span>19</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <section id="coment" class="comment">
    <h4>Comenta:</h4>
    <div id="fb-root" class="fb"></div>
    <div data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918" class="fb-comments"></div><span class="wrapper-icon-circle-o-notch"><i class="icon icon-circle-o-notch fa-spin"></i></span>
  </section>
  <section class="ads-full">
    <section class="ads-sidebar"></section>
    <section class="ads-sidebar"></section>
  </section>
  <section class="connect">
    <h4>Conéctate a la 10</h4>
    <ul>
      <li><a href="" class="wrapper-icon-connect"><i class="icon icon-facebook"></i></a></li>
      <li><a href="" class="wrapper-icon-connect"><i class="icon icon-twitter"></i></a></li>
      <li><a href="" class="wrapper-icon-connect"><i class="icon icon-google-plus"></i></a></li>
      <li><a href="" class="wrapper-icon-connect"><i class="icon icon-youtube"></i></a></li>
      <li><a href="" class="wrapper-icon-connect"><i class="icon icon-vine"></i></a></li>
    </ul>
  </section>
</div>