
<div class="grid">
  <div class="col-2-2">
    <section class="box">
      <div class="box-inner">
        <section class="breadcrumb-social">
          <nav class="breadcrumb">
            <ul>
              <li>
                <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
              </li>
              <li>Fútbol Internacional</li>
            </ul>
          </nav>
          <section class="social-detail nav-sociales fix-sociales new">
            <ul class="item-social-detail">
              <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
              <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
              <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
              <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
              <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
            </ul>
          </section>
        </section>
      </div>
      <div class="wrapper-blocks">
        <section class="headboard-blocks">
          <div class="title-blocks"><span>futbol internacional</span>
            <h2>Copa América 2015</h2>
          </div>
        </section>
        <section class="body-blocks">
          <div class="menu-blocks greedy-nav">
            <button>
              <div class="hamburger"></div>
            </button>
            <ul class="visible-links">
              <li><a href="" class="active">Noticias</a></li>
              <li><a href="">Fixture</a></li>
              <li> <a href="">Posiciones</a></li>
              <li><a href="">Goleadores</a></li>
              <li><a href="">Equipos</a></li>
            </ul>
            <ul class="hidden-links hidden"></ul>
          </div>
          <div class="content-blocks posiciones">
            <div class="wrapper-table">
              <div class="container-table">
                <table class="table">
                  <thead>
                    <tr class="headboard-table">
                      <th class="title-1"> 
                        <h4>nº</h4>
                      </th>
                      <th class="title-2"> 
                        <h4>grupos</h4>
                      </th>
                      <th class="title-3"> 
                        <h4>pts.</h4>
                      </th>
                      <th class="title-g">
                        <h4>pj</h4>
                      </th>
                      <th class="title-g">
                        <h4>pg </h4>
                      </th>
                      <th class="title-g">
                        <h4>pe</h4>
                      </th>
                      <th class="title-g">
                        <h4>pp</h4>
                      </th>
                      <th class="title-g">
                        <h4>gf </h4>
                      </th>
                      <th class="title-g">
                        <h4>gc</h4>
                      </th>
                      <th class="title-g">
                        <h4>df</h4>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="wrapper-table">
              <div class="container-table">
                <table class="table">
                  <thead>
                    <tr class="headboard-table">
                      <th class="title-1"> 
                        <h4>nº</h4>
                      </th>
                      <th class="title-2"> 
                        <h4>grupos</h4>
                      </th>
                      <th class="title-3"> 
                        <h4>pts.</h4>
                      </th>
                      <th class="title-g">
                        <h4>pj</h4>
                      </th>
                      <th class="title-g">
                        <h4>pg </h4>
                      </th>
                      <th class="title-g">
                        <h4>pe</h4>
                      </th>
                      <th class="title-g">
                        <h4>pp</h4>
                      </th>
                      <th class="title-g">
                        <h4>gf </h4>
                      </th>
                      <th class="title-g">
                        <h4>gc</h4>
                      </th>
                      <th class="title-g">
                        <h4>df</h4>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="wrapper-table">
              <div class="container-table">
                <table class="table">
                  <thead>
                    <tr class="headboard-table">
                      <th class="title-1"> 
                        <h4>nº</h4>
                      </th>
                      <th class="title-2"> 
                        <h4>grupos</h4>
                      </th>
                      <th class="title-3"> 
                        <h4>pts.</h4>
                      </th>
                      <th class="title-g">
                        <h4>pj</h4>
                      </th>
                      <th class="title-g">
                        <h4>pg </h4>
                      </th>
                      <th class="title-g">
                        <h4>pe</h4>
                      </th>
                      <th class="title-g">
                        <h4>pp</h4>
                      </th>
                      <th class="title-g">
                        <h4>gf </h4>
                      </th>
                      <th class="title-g">
                        <h4>gc</h4>
                      </th>
                      <th class="title-g">
                        <h4>df</h4>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                    <tr class="main-table-ca">
                      <td class="tbl-number">
                        <p>1</p>
                      </td>
                      <td class="tbl-equipo"><img src="img/icon-tab.png"/>
                        <p>Chile</p>
                      </td>
                      <td class="tbl-goles"><span>19</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                      <td class="tbl-num-2"><span>12</span></td>
                      <td class="tbl-num-2"><span>19</span></td>
                      <td class="tbl-num-2"><span>9</span></td>
                      <td class="tbl-num-2"><span>15</span></td>
                      <td class="tbl-num-2"><span>4</span></td>
                      <td class="tbl-num-2"><span>10</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <section id="coment" class="comment">
              <h4>Comenta:</h4>
              <div id="fb-root" class="fb"></div>
              <div data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918" class="fb-comments"></div><span class="wrapper-icon-circle-o-notch"><i class="icon icon-circle-o-notch fa-spin"></i></span>
            </section>
            <section class="ads-full">
              <section class="ads-sidebar"></section>
              <section class="ads-sidebar"></section>
            </section>
            <section class="connect">
              <h4>Conéctate a la 10</h4>
              <ul>
                <li><a href="" class="wrapper-icon-connect"><i class="icon icon-facebook"></i></a></li>
                <li><a href="" class="wrapper-icon-connect"><i class="icon icon-twitter"></i></a></li>
                <li><a href="" class="wrapper-icon-connect"><i class="icon icon-google-plus"></i></a></li>
                <li><a href="" class="wrapper-icon-connect"><i class="icon icon-youtube"></i></a></li>
                <li><a href="" class="wrapper-icon-connect"><i class="icon icon-vine"></i></a></li>
              </ul>
            </section>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>