
<div class="grid grid-flex">
  <div class="col-1-2">
    <article class="box ca">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Copa América</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Atlético remonta al Real Madrid, segundo tiempo lleno de emoción</a></h1>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/copa1.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a><a href="#" class="aside-figure"><span class="left-figure"><i class="icon icon-history icon-spin-invert"></i></span><span class="middle-figure">EN VIVO</span><span class="right-figure">Cobertura<i class="icon icon-caret-right"></i></span></a></figure>
      <!--div#matchId-210871.cntMatch-->
      <!--script(charset="utf-8")| rppWR.read({events: 'copainca', type: 'MaM', matchId: '210871'}).renderInterval({id:'#matchId-210871', url: 'http://dbg-ladiez.webrpp.com/url.html'});
      --></script>
      <section class="box-inner">
        <div class="team-vs">
          <div class="time-vs">2do tiempo</div>
          <div class="shield-vs">
            <div class="shield">
              <figure><img src="img/escudo1.jpg" alt="Equipo A"/></figure>
            </div>
            <div class="vs"><span>1 </span><span>x </span><span>2</span></div>
            <div class="shield">
              <figure><img src="img/escudo2.jpg" alt="Equipo B"/></figure>
            </div>
          </div>
          <div class="team-vs-name">
            <div class="team-name team-left">
              <h2>Real Madrid</h2>
            </div>
            <div class="team-name team-right">
              <h2>Atlético Madrid</h2>
            </div>
          </div>
        </div>
        <p>Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 mese de cárcel en italia.</p>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <section style="display:block;background-color:black;width:300px;height:250px" class="ads ads-grid-flex"></section>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a><a href="#" class="aside-figure"><span class="left-figure"><i class="icon icon-history icon-spin-invert"></i></span><span class="middle-figure">EN VIVO</span><span class="right-figure">Cobertura<i class="icon icon-caret-right"></i></span></a></figure>
      <section class="box-inner">
        <div class="team-vs">
          <div class="time-vs">2do tiempo</div>
          <div class="shield-vs">
            <div class="shield">
              <figure><img src="img/escudo1.jpg" alt="Equipo A"/></figure>
            </div>
            <div class="vs"><span>1 </span><span>x </span><span>2</span></div>
            <div class="shield">
              <figure><img src="img/escudo2.jpg" alt="Equipo B"/></figure>
            </div>
          </div>
          <div class="team-vs-name">
            <div class="team-name team-left">
              <h2>Real Madrid</h2>
            </div>
            <div class="team-name team-right">
              <h2>Atlético Madrid</h2>
            </div>
          </div>
        </div>
        <p>Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 mese de cárcel en italia.</p>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box ca">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Copa América</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/ca-gallery.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/ca-gallery.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/ca-gallery.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box ca">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Copa América</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/ca-default.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <section style="display:block;background-color:black;width:300px;height:250px" class="ads ads-grid-flex"></section>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <section style="display:block;background-color:black;width:300px;height:250px" class="ads ads-grid-flex"></section>
    <div class="col-1-2"></div>
    <section style="display:block;background-color:black;width:300px;height:250px" class="ads ads-grid-flex"></section>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box box-gallery">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#"> Futbol Peruano</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Sporting Cristal: así celebró Carlos Lobatón su cumpleaños</a></h1>
          <p>Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      <section class="thumbs-gallery">
        <figure class="media left-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
        <figure class="media right-img"><a href="#"><img src="img/16-9.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a></figure>
      </section>
    </article>
  </div>
  <div class="col-1-2">
    <article class="box">
      <div class="box-inner">
        <header>
          <div class="tag-time">
            <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
          </div>
          <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
          <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
        </header>
      </div>
      <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
    </article>
  </div>
</div>
<!--.grid          -->
<!--    .col-1-2-->
<!--        include article-gallery-->
<!--    .col-1-2-->
<!--        include article-vs-->
<!--More News-->
<div class="grid">
  <div class="col-2-2">
        <div class="title-full">
          <h3><a href="#">Más noticias</a></h3>
        </div>
  </div>
</div>
<div class="grid">
  <div class="col-2-2">
    <section style="height:600px" class="gallery-flow box">
      <div id="gallery-home" class="owl-carousel">
        <div class="item">
          <article class="gallery-inner">
            <figure class="media"><a href="#"><img src="img/16-9-galeria.jpg" alt="Robben Imparable 1!"/></a></figure>
            <div class="title-tag">
              <h3>Galeria del día 1</h3>
              <h2><a href="#">Robben Imparable 1!</a></h2>
            </div>
          </article>
        </div>
        <div class="item">
          <article class="gallery-inner">
            <figure class="media"><a href="#"><img src="img/16-9-galeria.jpg" alt="Robben Imparable 2!"/></a></figure>
            <div class="title-tag">
              <h3>Galeria del día 2</h3>
              <h2><a href="#">Robben Imparable 2!</a></h2>
            </div>
          </article>
        </div>
        <div class="item">
          <article class="gallery-inner">
            <figure class="media"><a href="#"><img src="img/16-9-galeria.jpg" alt="Robben Imparable 3!"/></a></figure>
            <div class="title-tag">
              <h3>Galeria del día 3</h3>
              <h2><a href="#">Robben Imparable 3!</a></h2>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
</div>