
<div class="grid">
  <div class="col-2-2">
    <section id="fixt" class="box">
      <div class="box-inner none480">
        <section class="breadcrumb-social">
          <nav class="breadcrumb">
            <ul>
              <li>
                <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
              </li>
              <li>Fútbol Internacional</li>
            </ul>
          </nav>
          <section class="social-detail nav-sociales fix-sociales new">
            <ul class="item-social-detail">
              <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
              <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
              <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
              <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
              <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
            </ul>
          </section>
        </section>
      </div>
      <div class="box-inner-t">
        <article class="box-detail">
          <div class="header-resultados"><span class="etq-result">Resultados</span>
            <h3>Copa america chile 2015</h3>
            <div class="wrap-select"><i class="icon icon-sort-desc"></i>
              <select>
                <option>Más torneos</option>
                <option>option 1</option>
                <option>option 2</option>
              </select>
            </div>
          </div>
        </article>
      </div>
      <div class="box-inner-t u480">
        <aticle class="box-detail">
          <div class="tab-resultados">
            <ul>
              <li class="act"><a href="">Resultados</a></li>
              <li><a href="">Fixture</a></li>
              <li> <a href="">Posiciones</a></li>
              <li> <a href="">Goleadores</a></li>
            </ul>
          </div>
          <div class="content-blocks fixture">
            <div class="wrapper-select">
              <select class="select-fases"> 
                <option>Fase de grupos</option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
              </select><i class="icon icon-chevron-down"></i>
            </div>
            <div class="wrap-tabs">
              <div class="header-tab">
                <ul>
                  <li data-id="grupoa" class="item-header-tab active"><a href="#">Grupo A</a></li>
                  <li data-id="grupob" class="item-header-tab"><a href="#">Grupo B</a></li>
                  <li data-id="grupoc" class="item-header-tab"><a href="#">Grupo C</a></li>
                </ul>
              </div>
              <div class="content-tab">
                <div id="grupoa" class="active item-tab">
                  <div class="wrapper-table">
                    <div class="caption-table-duo">
                      <h4>fecha 1</h4>
                    </div>
                    <div class="wrapper-table-duo">
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Chile</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Ecuador</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Chile</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Ecuador</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper-table">
                    <div class="caption-table-duo">
                      <h4>fecha 2</h4>
                    </div>
                    <div class="wrapper-table-duo">
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Chile</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Ecuador</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Chile</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Ecuador</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper-table">
                    <div class="caption-table-duo">
                      <h4>fecha 3</h4>
                    </div>
                    <div class="wrapper-table-duo">
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Chile</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Ecuador</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Chile</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Ecuador</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="grupob" class="item-tab">
                  <div class="wrapper-table">
                    <div class="caption-table-duo">
                      <h4>fecha 1</h4>
                    </div>
                    <div class="wrapper-table-duo">
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Perú</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Brasil</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Perú</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Brasil</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper-table">
                    <div class="caption-table-duo">
                      <h4>fecha 2</h4>
                    </div>
                    <div class="wrapper-table-duo">
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Perú</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Brasil</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Perú</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Brasil</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper-table">
                    <div class="caption-table-duo">
                      <h4>fecha 3</h4>
                    </div>
                    <div class="wrapper-table-duo">
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Perú</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Brasil</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Perú</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Brasil</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="grupoc" class="item-tab">
                  <div class="wrapper-table">
                    <div class="caption-table-duo">
                      <h4>fecha 1</h4>
                    </div>
                    <div class="wrapper-table-duo">
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Argentina</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Paraguay</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Argentina</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Paraguay</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper-table">
                    <div class="caption-table-duo">
                      <h4>fecha 2</h4>
                    </div>
                    <div class="wrapper-table-duo">
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Argentina</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Paraguay</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Argentina</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Paraguay</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper-table">
                    <div class="caption-table-duo">
                      <h4>fecha 3</h4>
                    </div>
                    <div class="wrapper-table-duo">
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Argentina</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Paraguay</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                      <div class="table-duo box">
                        <div class="fecha-table-duo">
                          <time>Jueves 11 de Junio Hora 18:30</time>
                        </div>
                        <div class="vs-table-duo">
                          <ul>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Argentina</span></li>
                            <li><img src="img/icon-tab.png" width="50" height="50"/><span>Paraguay</span></li>
                          </ul>
                        </div>
                        <div class="resultado-table-duo">
                          <ul>
                            <li>2</li>
                            <li>1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <section id="coment" class="comment">
                <h4>COMENTA:</h4>
                <div id="fb-root" class="fb"></div>
                <div data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918" class="fb-comments"></div><span class="wrapper-icon-circle-o-notch"><i class="icon icon-circle-o-notch fa-spin"></i></span>
              </section>
              <section class="ads-full">
                <section class="ads-sidebar"></section>
                <section class="ads-sidebar"></section>
              </section>
              <section class="connect">
                <h4>Conéctate a la 10</h4>
                <ul>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-facebook"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-twitter"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-google-plus"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-youtube"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-vine"></i></a></li>
                </ul>
              </section>
            </div>
          </div>
        </aticle>
      </div>
    </section>
  </div>
</div>