
<div class="grid">
  <div class="col-2-2">
    <section class="box">
      <div class="box-inner">
        <section class="breadcrumb-full">
          <nav class="breadcrumb">
            <ul>
              <li>
                <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
              </li>
              <li>Fútbol Internacional</li>
            </ul>
          </nav>
        </section>
        <h3 class="title-flow">Futbol Internacional</h3>
        <article class="flow-prominent">
          <h1> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h1>
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_destacada_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"></i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15</time>
              </div>
            </div>
          </div>
        </article>
                <div class="title-full">
                  <h3><a href="#">Ver archivo</a></h3>
                </div>
      </div>
    </section>
  </div>
</div>