
<section class="search-total">
  <!--Search-->
  <section class="search-flow">
    <div class="search-flow-inner">
      <form action="#">
        <input type="text" value="Paolo Guereo"/>
        <button type="button"><i class="icon icon-search"></i></button>
      </form>
    </div>
  </section>
  <div class="total-txt"><strong>20</strong><span>noticias encontradas</span></div>
</section>
<!--Flow-->
<div class="grid">
  <div class="col-2-2">
    <section>
      <div class="timeline">
        <div class="day-month">
          <div class="day">23</div>
          <div class="month">MAR</div>
        </div>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="timeline">
        <div class="day-month">
          <div class="day">22</div>
          <div class="month">MAR</div>
        </div>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
        <article class="flow-normal">
          <div class="prominent-media">
            <figure class="media"><a href="#"><img src="img/16_9_nota_flujo.jpg" alt="Se complica la renovación de Paolo Guerrero con el Corinthians"/></a></figure>
            <div class="prominent-txt"> 
              <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
              <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
              <div class="time-related">Publicado el 
                <time datetime="2015-02-23 19:44"> 23/02/15 </time>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>
</div>
<section class="pagination">
  <!--Pagination-->
  <nav>
    <ul class="pager">
      <li><a href="#"><i class="icon icon-chevron-left"> </i>Anterior</a></li>
      <li>Página <strong>2 </strong>/ 2</li>
      <li><a href="#">
           
          Siguiente<i class="icon icon-chevron-right"></i></a></li>
    </ul>
  </nav>
</section>