
<div class="grid">
  <div class="col-2-2">
    <section class="box">
      <div class="box-inner">
        <section class="breadcrumb-social">
          <nav class="breadcrumb">
            <ul>
              <li>
                <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
              </li>
              <li>Fútbol Internacional</li>
            </ul>
          </nav>
          <section class="social-detail">
            <ul>
              <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
              <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
              <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
              <li class="li-whatsapp small-social"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
              <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
              <li class="li-comenta-small"><a href="#coment" data-idfb="287920207998918" class="comenta ancla"><i class="icon icon-comments-o"></i></a></li>
            </ul>
          </section>
        </section>
      </div>
      <div class="wrapper-ca">
        <section class="headboard-ca">
          <div class="title-ca"><span>Estadísticas</span>
            <h2>Copa América 2015</h2>
          </div>
        </section>
        <section class="body-ca">
          <div class="menu-ca">
            <ul>
              <li><a href="">Noticias</a></li>
              <li><a href="">Fixture</a></li>
              <li> <a href="" class="active">Posiciones</a></li>
              <li><a href="">Goleadores</a></li>
              <li> <a href="">Equipos</a></li>
            </ul>
          </div>
          <div class="content-ca posiciones"></div>
        </section>
      </div>
    </section>
  </div>
</div>