
<article class="box ca">
  <div class="box-inner">
    <header>
      <div class="tag-time">
        <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Copa América</a></span></h3>
        <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
      </div>
      <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
      <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
    </header>
  </div>
  <figure class="media"><a href="#"><img src="img/ca-default.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
</article>