
<article class="prominent-noticias-ca">
  <div class="title-noticias-ca">
    <h2> <a href="">Messi en el once ideal de la Champions, Cristiano ausente</a></h2>
  </div>
  <div class="content-noticias-ca">
    <figure class="img-prominent-noticias-ca"><a href=""><img src="../img/prominent-noticias.jpg"/></a></figure>
    <div class="wrapper-text-noticias-ca">
      <div class="text-noticias-ca">
        <p>Como es de costumbre, la UEFA se encargo de elegir al once de la fecha. La novedad es el retorno de Messi y gran ausente una vez mas es CR7.</p>
      </div>
      <div class="time-noticias-ca"><span>Publicado el</span>
        <time>2015/05/08</time>
      </div>
    </div>
  </div>
</article>