
<article class="ca-article-noticia">
  <div class="wrapper-article-noticia">
    <figure class="img-article-noticia"><a href=""><img src="../img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
    <div class="wrap-text-article-noticia">
      <div class="title-article-noticia">
        <h3>La narracion mas enloquecida del golazo de Messi</h3>
      </div>
      <div class="text-article-noticia">
        <p>¿Quieren oir como se narracion mas emocionante del golazo de Messi ante Bayer Munich? pues no puedes perderte este video</p>
      </div>
      <div class="time-icon-article-noticia"><i class="icon icon-video-camera"></i>
        <time>Publicado el 2015/05/08</time>
      </div>
    </div>
  </div>
</article>