
<section class="ca-sidebar-tabla box">
  <div class="headboard-ca-tabla">
    <h3>Top goleadores</h3>
  </div>
  <div class="wrapper-tabla-top">
    <table class="table-top">
      <tr class="headboard-table-top">
        <th class="title-1">
          <h5>nombre</h5>
        </th>
        <th class="title-2">
          <h5>equipo</h5>
        </th>
        <th class="title-3">
          <h5>goles</h5>
        </th>
      </tr>
      <tr class="content-table-top">
        <td class="nombre-table-top"><span>Paolo Guerrero</span></td>
        <td class="equipo-table-top"><img src="img/icon-tab.png"/></td>
        <td class="goles-table-top"><span>8</span></td>
      </tr>
      <tr class="content-table-top">
        <td class="nombre-table-top"><span>Paolo Guerrero</span></td>
        <td class="equipo-table-top"><img src="img/icon-tab.png"/></td>
        <td class="goles-table-top"><span>8</span></td>
      </tr>
      <tr class="content-table-top">
        <td class="nombre-table-top"><span>Paolo Guerrero</span></td>
        <td class="equipo-table-top"><img src="img/icon-tab.png"/></td>
        <td class="goles-table-top"><span>8</span></td>
      </tr>
      <tr class="content-table-top">
        <td class="nombre-table-top"><span>Paolo Guerrero</span></td>
        <td class="equipo-table-top"><img src="img/icon-tab.png"/></td>
        <td class="goles-table-top"><span>8</span></td>
      </tr>
      <tr class="content-table-top">
        <td class="nombre-table-top"><span>Paolo Guerrero</span></td>
        <td class="equipo-table-top"><img src="img/icon-tab.png"/></td>
        <td class="goles-table-top"><span>8</span></td>
      </tr>
    </table><a href="" class="link-tabla-top">Ver mas</a>
  </div>
</section>