
<section class="ca-sidebar-tabla box">
  <div class="headboard-ca-tabla">
    <h5>Copa America</h5>
    <h3>Tabla de posiciones</h3>
  </div>
  <div class="wrap-tabs">
    <div class="header-tab">
      <ul>
        <li data-id="grupoa" class="item-header-tab active"><span>Grupo A</span></li>
        <li data-id="grupob" class="item-header-tab"><span>Grupo B</span></li>
        <li data-id="grupoc" class="item-header-tab"><span>Grupo C</span></li>
      </ul>
    </div>
    <div class="content-tab">
      <div id="grupoa" class="active item-tab">
        <table class="table-tab">
          <tr class="headboard-tab">
            <th class="tl1">nº</th>
            <th class="tl2">Grupo a</th>
            <th class="tl3">pts.</th>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">1</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>chile</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">2</td>
            <td class="tbl-nom"><img src="img/icon-tab.png"/><span>venezuela</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">3</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>peru</span></td>
            <td class="tbl-puntos"><span>16</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">4</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>colombia</span></td>
            <td class="tbl-puntos"><span>13</span></td>
          </tr>
        </table>
      </div>
      <div id="grupob" class="item-tab">
        <table class="table-tab">
          <tr class="headboard-tab">
            <th class="tl1">nº</th>
            <th class="tl2">Grupo b</th>
            <th class="tl3">pts.</th>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">1</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>argentina</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">2</td>
            <td class="tbl-nom"><img src="img/icon-tab.png"/><span>uruguay</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">3</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>peru</span></td>
            <td class="tbl-puntos"><span>16</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">4</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>jamaica</span></td>
            <td class="tbl-puntos"><span>13</span></td>
          </tr>
        </table>
      </div>
      <div id="grupoc" class="item-tab">
        <table class="table-tab">
          <tr class="headboard-tab">
            <th class="tl1">nº</th>
            <th class="tl2">Grupo c</th>
            <th class="tl3">pts.</th>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">1</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>chile</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">2</td>
            <td class="tbl-nom"><img src="img/icon-tab.png"/><span>mexico</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">3</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>brasil</span></td>
            <td class="tbl-puntos"><span>16</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">4</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>ecuador</span></td>
            <td class="tbl-puntos"><span>13</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>