
<section class="connect">
  <h4>Conéctate a la 10</h4>
  <ul>
    <li><a href="" class="wrapper-icon-connect"><i class="icon icon-facebook"></i></a></li>
    <li><a href="" class="wrapper-icon-connect"><i class="icon icon-twitter"></i></a></li>
    <li><a href="" class="wrapper-icon-connect"><i class="icon icon-google-plus"></i></a></li>
    <li><a href="" class="wrapper-icon-connect"><i class="icon icon-youtube"></i></a></li>
    <li><a href="" class="wrapper-icon-connect"><i class="icon icon-vine"></i></a></li>
  </ul>
</section>