
<section class="tags">
  <h3>Tags:</h3>
  <h2><a href="#">RONALDO</a></h2>
  <h2><a href="#">REAL MADRID</a></h2>
  <h2><a href="#">ESPAÑA</a></h2>
  <h2><a href="#">CHAMPIONS</a></h2>
  <h2><a href="#">PORTUGAL</a></h2>
</section>