
<section class="related-news-full module module-blue">          
  <h3>Noticias relacionadas                    </h3>
  <ul class="title-top">
    <li>
      <div class="box">
        <figure class="media"><a href="#"><img src="" data-original="img/16_9_relacionadas.jpg" data-type="img" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana" class="lazy"/></a></figure>
        <h3 class="tag-title">BOXEO</h3>
        <h2><span><a href="#">Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores</a></span></h2>
      </div>
    </li>
    <li>
      <div class="box">
        <figure class="media"><a href="#"><img src="" data-original="img/16_9_relacionadas.jpg" data-type="img" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana" class="lazy"/></a></figure>
        <h3 class="tag-title">FÚTBOL</h3>
        <h2><span><a href="#">Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores</a></span></h2>
      </div>
    </li>
  </ul>
</section>