
<section class="social-detail social-2">
  <ul class="item-social-detail">
    <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
    <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
    <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
    <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
    <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
  </ul>
  <ul class="item-social-detail">
    <li class="li-comenta-large"><a data-idfb="287920207998918" data-type="s-click" class="lazy comenta bot"><i class="icon icon-comments-o"> </i><span>comenta</span></a>
      <div class="text-comenta">
        <p>120</p><span>comentarios</span>
      </div>
    </li>
  </ul>
</section>