
<section class="logo-footer">
  <div class="wrapper">
    <figure class="logo"><img src="svg/logo-la10.svg" alt="Logo La10"/></figure>
  </div>
</section>
<section class="nav-footer">
  <div class="wrapper">
    <nav>
      <ul>
        <li>Visita también:</li>
        <li> <a href="#" target="_blank">RPP Noticias</a></li>
        <li> <a href="#" target="_blank">Radio Capital</a></li>
        <li> <a href="#" target="_blank">Studio 92</a></li>
        <li> <a href="#" target="_blank">Radio Oxigeno</a></li>
        <li> <a href="#" target="_blank">Radio corazón</a></li>
        <li> <a href="#" target="_blank">La Zona</a></li>
      </ul>
    </nav>
  </div>
</section>
<section class="logo-gruporpp">
  <div class="wrapper">
    <figure class="logo"><img src="svg/logo-grupo-rpp.svg" alt="Logo Grupo RPP"/></figure>
    <ul class="nav-footer-rpp">
      <li> <a href="" target="_blank">Contáctenos</a></li>
      <li> <a href="" target="_blank">Anuncia Aquí</a></li>
      <li> <a href="" target="_blank">Aviso legal</a></li>
      <li> <a href="" target="_blank">Solucion de quejas SNRTV</a></li>
      <li> <a href="" target="_blank">Código de Ética</a></li>
    </ul>
  </div>
</section>