
<div class="menu-blocks greedy-nav">
  <button>
    <div class="hamburger"></div>
  </button>
  <ul class="visible-links">
    <li><a href="" class="active">Noticias</a></li>
    <li><a href="">Fixture</a></li>
    <li> <a href="">Posiciones</a></li>
    <li><a href="">Goleadores</a></li>
    <li><a href="">Equipos</a></li>
  </ul>
  <ul class="hidden-links hidden"></ul>
</div>