
<section class="header-shields-search">
  <div class="wrapper">
    <h6>TODO SOBRE:</h6>
    <nav class="nav-shields">
      <ul>
        <li>
          <figure><a href="#"><img src="img/escudo-thumb.png" alt="Escudo de Equipo N"/></a></figure>
        </li>
        <li>
          <figure><a href="#"><img src="img/escudo-thumb.png" alt="Escudo de Equipo N"/></a></figure>
        </li>
        <li>
          <figure><a href="#"><img src="img/escudo-thumb.png" alt="Escudo de Equipo N"/></a></figure>
        </li>
        <li>
          <figure><a href="#"><img src="img/escudo-thumb.png" alt="Escudo de Equipo N"/></a></figure>
        </li>
        <li>
          <figure><a href="#"><img src="img/escudo-thumb.png" alt="Escudo de Equipo N"/></a></figure>
        </li>
      </ul>
    </nav>
    <section class="search-header">
      <form action="#">
        <input type="text" value="buscar"/>
        <button type="button"><i class="icon icon-search"></i></button>
      </form>
    </section>
  </div>
</section>
<section class="header-logo-nav">
  <div class="wrapper">
    <figure class="logo"><a href="#"><img src="svg/logo-la10.svg" alt="Logo La10" width="175" height="77"/></a></figure>
    <nav class="nav-header">
      <ul>
        <li><a href="#">Resultados</a></li>
        <li><a href="#">Fútbol Peruano</a></li>
        <li class="active"><a href="#">Fútbol Internacional</a></li>
        <li><a href="#">Selección</a></li>
        <li><a href="#">Full Contacto</a></li>
        <li><a href="#">+ Deportes</a></li>
      </ul>
      <ul class="nav-fix">
        <li id="open-nav-movil"><i class="icon icon-navicon"></i></li>
      </ul>
    </nav>
  </div>
</section>
<section class="header-smartphone">
  <nav class="nav-header">
    <ul>
      <li class="active"><a href="#">NOTICIAS</a></li>
      <li><a href="#">RESULTADOS</a></li>
    </ul>
  </nav>
</section>
<script type="text/javascript">(function() {var useSSL = 'https:' == document.location.protocol;var src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');})();</script>
<script type="text/javascript">googletag.cmd.push(function() {googletag.defineSlot('/1028310/La10.pe-Lateral1', [160, 600], 'div-gpt-ad-1435012693333-0').addService(googletag.pubads());googletag.defineSlot('/1028310/La10.pe-Lateral2', [160, 600], 'div-gpt-ad-1435012770989-0').addService(googletag.pubads());googletag.pubads().enableSingleRequest();googletag.pubads().collapseEmptyDivs();googletag.pubads().enableSyncRendering();googletag.enableServices();});</script>
<script data-cfasync="false" type="text/javascript">(function(s,o,l,v,e,d){if(s[o]==null&&s[l+e]){s[o]="loading";s[l+e](d,l=function(){s[o]="complete";s[v+e](d,l,!1)},!1)}})(document,"readyState","add","remove","EventListener","DOMContentLoaded");(function(){var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="//cdn.engine.4dsply.com/Scripts/infinity.js.aspx?guid=2981434e-a67c-4aaf-9d25-8de01cc14975";s.id="infinity";s.setAttribute("data-guid","2981434e-a67c-4aaf-9d25-8de01cc14975");s.setAttribute("data-version","async");var e=document.getElementsByTagName('script')[0];e.parentNode.insertBefore(s,e)})();</script>