
<div class="box-padd none480">
  <section class="breadcrumb-social">
    <nav class="breadcrumb">
      <ul>
        <li>
          <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
        </li>
        <li>Fútbol Internacional</li>
      </ul>
    </nav>
    <section class="social-detail nav-sociales fix-sociales new">
      <ul class="item-social-detail">
        <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
        <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
        <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
        <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
        <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
      </ul>
    </section>
  </section>
</div>
<div class="box-sinpadd">
  <article class="box-detail fixt">
    <div class="header-resultados box-padd"><a href="" class="link480"></a><span class="etq-result">Resultados</span>
      <h3>Copa america chile 2015</h3>
      <div class="wrap-select"><i class="icon icon-unsorted"></i>
        <select>
          <option>Más torneos</option>
          <option>option 1</option>
          <option>option 2</option>
        </select>
      </div>
    </div>
    <div class="tab-resultados">
      <ul>
        <li class="act"><a href="">Resultados</a></li>
        <li><a href="">Fixture</a></li>
        <li> <a href="">Posiciones</a></li>
        <li> <a href="">Goleadores</a></li>
      </ul>
    </div>
  </article>
</div>