
<section class="header-logo-nav fix-logo-nav sinfix">
  <div class="wrapper">
    <figure class="logo"><a href="#"><img src="svg/logo-la10.svg" alt="Logo La10"/></a></figure>
    <nav class="nav-header">
      <ul>
        <li><a href="#">Resultados</a></li>
        <li><a href="#">Fútbol Peruano</a></li>
        <li class="active"><a href="#">Fútbol Internacional</a></li>
        <li><a href="#">Selección</a></li>
        <li><a href="#">Full Contacto</a></li>
        <li><a href="#">+ Deportes</a></li>
      </ul>
      <ul class="nav-fix">
        <li id="open-nav-movil-fix2"><i class="icon icon-navicon"></i></li>
      </ul>
    </nav>
  </div>
</section>