
<article class="flow-prominent">
  <h1> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h1>
  <div class="prominent-media">
    <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="380"/></a></figure>
    <div class="prominent-txt"> 
      <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
      <div class="time-related"><span><i class="icon icon-photo"></i></span>- Publicado el 
        <time datetime="2015-02-23 19:44"> 23/02/15 </time>
      </div>
    </div>
  </div>
</article>
<article class="flow-normal">
  <div class="prominent-media">
    <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
    <div class="prominent-txt"> 
      <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
      <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
      <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
        <time datetime="2015-02-23 19:44"> 23/02/15</time>
      </div>
    </div>
  </div>
</article>
<article class="flow-normal">
  <div class="prominent-media">
    <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
    <div class="prominent-txt"> 
      <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
      <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
      <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
        <time datetime="2015-02-23 19:44"> 23/02/15</time>
      </div>
    </div>
  </div>
</article>
<article class="flow-normal">
  <div class="prominent-media">
    <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
    <div class="prominent-txt"> 
      <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
      <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
      <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
        <time datetime="2015-02-23 19:44"> 23/02/15</time>
      </div>
    </div>
  </div>
</article>
<article class="flow-normal">
  <div class="prominent-media">
    <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
    <div class="prominent-txt"> 
      <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
      <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
      <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
        <time datetime="2015-02-23 19:44"> 23/02/15</time>
      </div>
    </div>
  </div>
</article>
<article class="flow-normal">
  <div class="prominent-media">
    <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
    <div class="prominent-txt"> 
      <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
      <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
      <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
        <time datetime="2015-02-23 19:44"> 23/02/15</time>
      </div>
    </div>
  </div>
</article>
<article class="flow-normal">
  <div class="prominent-media">
    <figure class="media"><a href="#"><img src="img/prominent-noticias.jpg" alt="" width="225"/></a></figure>
    <div class="prominent-txt"> 
      <h2> <a href="#">Se complica la renovación de Paolo Guerrero con el Corinthians</a></h2>
      <p>El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones</p>
      <div class="time-related"><span><i class="icon icon-photo"> </i></span>- Publicado el 
        <time datetime="2015-02-23 19:44"> 23/02/15</time>
      </div>
    </div>
  </div>
</article>