
<div class="wrapper-laterales"><a target="_blank" href="" class="banner_late_left">
    <div class="ads-late-left"></div>
    <div id="div-gpt-ad-1435012693333-0" style="height:600px; display:inline-block; width:160px;background-color:gray">
      <!--script(type='text/javascript')| googletag.cmd.push(function() { googletag.display('div-gpt-ad-1435012693333-0'); });
      -->
    </div></a><a target="_blank" href="" class="banner_late_right">
    <div class="ads-late-right"></div>
    <div id="div-gpt-ad-1435012770989-0" style="height:600px; display:inline-block; width:160px;background-color:gray">
      <!--script(type="text/javascript")| googletag.cmd.push(function() { googletag.display('div-gpt-ad-1435012770989-0'); });
      -->
    </div></a>
</div>