
<section class="wrapper-minuto-widgets">
  <div class="block1-minuto-widget">
    <div class="socials-minuto-widgets">
      <ul>
        <li>fb</li>
        <li>tw</li>
        <li>g+</li>
      </ul>
    </div>
    <div class="formacion-widget-minuto"></div>
    <div class="ads-minuto"></div>
  </div>
  <div class="block2-minuto-widget">
    <div class="widget-twitter-minuto"></div>
  </div>
</section>
<section class="wrapper-asides">
  <div class="wrapper-relato-minuto"></div>
  <div class="ads-minuto"></div>
</section>