
<section class="girl10-news module module-pink">          
  <h3>LA CHICA 10</h3>
  <div class="box">
    <ul class="title-top">
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/la_chica_10.jpg" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana"/></a></figure>
          <h2><span><a href="#">La divina Miss Colombia Paulina Vega es nuestra Chica 10 de la semana</a></span></h2>
        </article>
      </li>
    </ul>
  </div>
</section>