
<div id="fix_sidebar">
  <section class="goals module module-yellow">          
    <h3>redes sociales</h3>
    <div class="box">
      <div class="wrapper-sociales-fix">
        <div style="width: 100%; height: 300px;overflow:hidden;" data-crowdynews-widget="la10RPP/la10pe-widget-horizontal"></div>
        <div data-width="260" data-type="script" data-original="//widget.crowdynews.com/js/widget.js" class="pro lazy"></div>
      </div>
    </div>
  </section>
  <section class="goals module module-blue">          
    <h3>PEPAZAS</h3>
    <div class="box">
      <ul class="title-top">
        <li>
          <article>
            <figure class="media"><a href="#"><img src="img/16_9_mas_pepazas.jpg" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana"/></a></figure>
            <h2><span><a href="#">Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores</a></span></h2>
          </article>
        </li>
        <li>
          <article>
            <figure class="media"><a href="#"><img src="img/16_9_mas_pepazas.jpg" alt="¡Atención Cristal! Racing humilló 5-0 a Táchira por Copa"/></a></figure>
            <h2><span><a href="#">¡Atención Cristal! Racing humilló 5-0 a Táchira por Copa</a></span></h2>
          </article>
        </li>
      </ul>
    </div>
  </section>
</div>