
<section id="nav-movil">
  <div class="header-nav-movil">
    <figure class="logo"><a href="./"><img src="svg/logo-la10.svg" alt="Logo La10"/></a></figure><i id="close-nav-movil" class="icon icon-arrow-right"></i>
  </div>
  <div class="nav-inner">
    <div class="search-movil">
      <div class="search-movil-inner">
        <form action="#">
          <input type="text" value="buscar"/>
          <button type="button"><i id="close-nav-movil" class="icon icon-search"></i></button>
        </form>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="">Copa America</a></li>
        <li><a href="#">Resultados</a></li>
        <li><a href="#">Fútbol Peruano</a></li>
        <li class="menu-drop"><a href="#" data-target="ul" class="collapse">Fútbol Internacional</a><i class="icon icon-caret-down"></i>
          <ul>
            <li><a href="#">Copa Libertadores</a></li>
            <li><a href="#">Copa Europa</a></li>
            <li><a href="#">Champions League</a></li>
          </ul>
        </li>
        <li><a href="#">Selección</a></li>
        <li><a href="#">Full Contacto</a></li>
        <li><a href="#">Deportes</a></li>
      </ul>
    </nav>
  </div>
  <div class="layer"></div>
</section>