
<section class="wrapper">
  <ul>
    <li class="first-li">Tendencias:</li>
    <li> <a href="#">Alianza Lima</a></li>
    <li> <a href="#">Universitario</a></li>
    <li> <a href="#">Champions</a></li>
    <li> <a href="#">Real Madrid</a></li>
    <li> <a href="#">Barcelona</a></li>
    <li> <a href="#">Boca Junior</a></li>
    <li> <a href="#">Ricardo Gareca</a></li>
    <li> <a href="#">Claudio Pizarro</a></li>
  </ul>
</section>