
<div id="perured" class="box_sidebar-ads">
  <div class="publicidad_rpp">
    <script type="text/javascript">
      var cX = cX || {};
      cX.callQueue = cX.callQueue || [];
      cX.callQueue.push([ 'insertAdSpace', {
      adSpaceId : '0000000161912ad1',
      resizeToContentSize : true,
      useMappedRenderTemplate : true
      } ]);
    </script>    
    <style type="text/css">.template{ display: none; }</style>
    <!-- <body xmlns:tmp="javascript:">-->
    <!-- Include the cx.js script-->
    <script type="text/javascript">
      (function () {
      try {
      var scriptEl = document.createElement('script');
      scriptEl.type = 'text/javascript';
      scriptEl.async = 'async';
      scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js'
      : 'http://cdn.cxense.com/cx.js';
      var targetEl = document
      .getElementsByTagName('script')[0];
      targetEl.parentNode
      .insertBefore(scriptEl, targetEl);
      } catch (e) {
      }
      ;
      } ());
    </script>    
    <div id="adSpace">
      <div id="adsTemplate" class="template">
        <table style="border: 3px solid #CCCCCC; width: 300px; margin: 0 auto; background-color: #FFFFFF;          border-radius: 8px 8px 8px 8px; height: auto;" cellpadding="0" cellspacing="0">
          <tr>
            <th style="font-family: Arial, Helvetica, sans-serif; color: gray; font-size: 12px; background-color: #EEEEEE; height: 43px; border-bottom: 1px solid #CCCCCC; border-radius: 7px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;"><span style="float: left; padding-left: 15px; font-weight: normal;">Avisos<strong>PER&Uacute;RED</strong></span> <a href="http://perured.pe" style="float: right; font-family: Arial, Helvetica, sans-serif; color: #0D53B2; line-height: 14px; font-size: 11px; font-weight: normal; text-decoration: underline; padding-right: 15px; padding-top: 1px;" target="_blank">Anuncia aqu&iacute;</a></th>
          </tr>                    
          <tr>
            <td style="background: #FFFFFF; border-radius: 7px;">
              <table border="0" style="width: 100%;">
                <tbody>
                  <!--
                  %
                  if (data && data.searchResult && data.searchResult.spaces && data.searchResult.spaces[0] && data.searchResult.spaces[0].ads) {
                  var ads = data.searchResult.spaces[0].ads;
                  for (var i = 0; i < ads.length; i++) {
                  var ad = ads[i];
                  if (ad.creative && ad.creative.content && ad.creative.content.length && ad.creative.images) {
                  var titularText = '';
                  var cuerpoText = '';
                  var displayUrlText = '';
                  var content = ad.creative.content;
                  for (var j = 0; j < content.length; j++) {
                  var contentItem = content[j];
                  if (contentItem.key === 'Titulo')
                  titularText = cX.library.getAllText(contentItem.value);
                  if (contentItem.key === 'Cuerpo')
                  cuerpoText = cX.library.getAllText(contentItem.value);
                  if (contentItem.key === 'DisplayUrl')
                  displayUrlText = cX.library.getAllText(contentItem.value);
                  }
                  var images = ad.creative.images;
                  var imgSrc = '';
                  var textWidth = 295;
                  for (var k = 0; k < images.length; k++) {
                  var image = images[k];
                  if (image.key === 'Imagen') { imgSrc = image.source; textWidth = 205; }
                  }
                  var clickUrl = ad.clickUrl;
                  %
                  -->
                  <tr>
                    <td style="border-bottom: 1px solid #EEEEEE; height: 100px; width: 300px; background-color: #FFFFFF;                        padding: 10px 4px; text-align: left;">
                      <div style="clear: both; width: 100%; padding-bottom: 5px;"><a target="_blank" tmp:href="{{clickUrl}}" style="line-height: 15px; font-family: Arial, Helvetica, sans-                            serif;                            color: #1B2FC4; font-size: 16px; font-weight: bold; text-decoration: none; margin-left: 2px;">{{titularText}}</a></div>                                            
                      <table style="border: 0px; margin: 0px; padding: 0px;">
                        <tbody>
                          <tr>
                            <!-- % if (imgSrc && imgSrc != '') { %-->
                            <td style="padding-right: 5px; vertical-align: top; width: 73px; background: #FFFFFF;"><a target="_blank" tmp:href="{{clickUrl}}"><img tmp:src="{{imgSrc}}" border="0" style="border: 1px solid #EEEEEE; width: 71px;                                    height: 78px;"/></a></td>
                            <!-- % } %-->
                            <td tmp:style="width: {{textWidth}}px; vertical-align: top; word-wrap: break-word; text-align: left;                                overflow: hidden; background: #FFFFFF;"><span tmp:style="line-height: 13px; width: {{textWidth}}px; word-wrap: break-word; font-family:                                  Arial, Helvetica, sans-serif; color: #000000; font-size: 11px; font-weight: normal; text-decoration: none;">{{cuerpoText}}</span>                                                            <br/>                                                            <a tmp:target="_blank" tmp:href="{{clickUrl}}" style="line-height: 15px; width: 210px;                                  word-wrap: break-word; font-family: Arial, Helvetica, sans-serif; color: #1B2FC4;                                  font-size: 11px; font-weight: normal; text-decoration: underline;">{{displayUrlText}}</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <!--
                  %
                  }
                  }
                  }
                  %
                  -->
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- Impression result callback-->
    <script type="text/javascript">
      function render_callback(event, data, context) {
      if (context && context.parentElementId) {
      if (parent && parent.postMessage) {
      var dv = document.getElementById('adSpace');
      _dvh=dv.innerHeight||dv.clientHeight||dv.offsetHeight;
      var message = 'method=updateAdSpace'
      + '&matchedAdCount='+ data.searchResult.spaces[0].ads.length
      + '&elementId='
      + encodeURIComponent(context.parentElementId)
      + '&contentWidth=300'
      + '&contentHeight='+(_dvh); /* Tomando como alto el documento del iframe */
      window.parent.postMessage(message, '*');
      }
      }
      }
    </script>
    <!-- Insert AdSpace-->
    <script type="text/javascript">
      var cX = cX || {};
      cX.callQueue = cX.callQueue || [];
      cX.callQueue.push(['insertAdSpace', {
      templateElementId: 'adsTemplate',
      targetElementId: 'adSpace',
      forwardHashArgs: true,
      onImpressionResult: render_callback,
      ps: 4,
      pn: 0
      }]);
    </script>        
    <div id="insertAdSpaceBeforeThis_0000000161912ad1" style="display: none"></div>    
    <script type="text/javascript">
      (function() {
      try {
      var scriptEl = document.createElement('script');
      scriptEl.type = 'text/javascript';
      scriptEl.async = 'async';
      scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js'
      : 'http://cdn.cxense.com/cx.js';
      var targetEl = document
      .getElementsByTagName('script')[0];
      targetEl.parentNode
      .insertBefore(scriptEl, targetEl);
      } catch (e) {
      }
      ;
      }());
    </script>
  </div>
</div>