
<!--Search-->
<section class="search-flow">
  <div class="search-flow-inner">
    <form action="#">
      <input type="text" value="buscar"/>
      <button type="button"><i class="icon icon-search"></i></button>
    </form>
  </div>
</section>
<!--CALENDAR-->
<section class="calendar">
  <div class="box"></div>
</section>
<!--FILTER-->
<section class="filter-date">
  <div class="box">
    <h3> Filtro cronológico</h3>
    <nav>
      <ul>
        <li class="active"><a href="#">Últimas 12 horas</a></li>
        <li><a href="#">Últimas 24 horas</a></li>
        <li><a href="#">Última semana</a></li>
        <li><a href="#">Último mes</a></li>
      </ul>
    </nav>
  </div>
</section>