
<!--ADS-->
<section class="ads ads-sidebar"> </section>
<!--COPA-AMERICA-->
<section class="ca-sidebar-tabla box">
  <div class="headboard-ca-tabla">
    <h5>Copa America</h5>
    <h3>Tabla de posiciones</h3>
  </div>
  <div class="wrap-tabs">
    <div class="header-tab">
      <ul>
        <li data-id="grupoa" class="item-header-tab active"><span>Grupo A</span></li>
        <li data-id="grupob" class="item-header-tab"><span>Grupo B</span></li>
        <li data-id="grupoc" class="item-header-tab"><span>Grupo C</span></li>
      </ul>
    </div>
    <div class="content-tab">
      <div id="grupoa" class="active item-tab">
        <table class="table-tab">
          <tr class="headboard-tab">
            <th class="tl1">nº</th>
            <th class="tl2">Grupo a</th>
            <th class="tl3">pts.</th>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">1</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>chile</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">2</td>
            <td class="tbl-nom"><img src="img/icon-tab.png"/><span>venezuela</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">3</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>peru</span></td>
            <td class="tbl-puntos"><span>16</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">4</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>colombia</span></td>
            <td class="tbl-puntos"><span>13</span></td>
          </tr>
        </table>
      </div>
      <div id="grupob" class="item-tab">
        <table class="table-tab">
          <tr class="headboard-tab">
            <th class="tl1">nº</th>
            <th class="tl2">Grupo b</th>
            <th class="tl3">pts.</th>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">1</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>argentina</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">2</td>
            <td class="tbl-nom"><img src="img/icon-tab.png"/><span>uruguay</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">3</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>peru</span></td>
            <td class="tbl-puntos"><span>16</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">4</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>jamaica</span></td>
            <td class="tbl-puntos"><span>13</span></td>
          </tr>
        </table>
      </div>
      <div id="grupoc" class="item-tab">
        <table class="table-tab">
          <tr class="headboard-tab">
            <th class="tl1">nº</th>
            <th class="tl2">Grupo c</th>
            <th class="tl3">pts.</th>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">1</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>chile</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">2</td>
            <td class="tbl-nom"><img src="img/icon-tab.png"/><span>mexico</span></td>
            <td class="tbl-puntos"><span>19</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">3</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>brasil</span></td>
            <td class="tbl-puntos"><span>16</span></td>
          </tr>
          <tr class="cnt-tab"> 
            <td class="tbl-num">4</td>
            <td class="tbl-nom"> <img src="img/icon-tab.png"/><span>ecuador</span></td>
            <td class="tbl-puntos"><span>13</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
<section class="ca-sidebar-tabla box">
  <div class="headboard-ca-tabla">
    <h3>Top goleadores</h3>
  </div>
  <div class="wrapper-tabla-top">
    <table class="table-top">
      <tr class="headboard-table-top">
        <th class="title-1">
          <h5>nombre</h5>
        </th>
        <th class="title-2">
          <h5>equipo</h5>
        </th>
        <th class="title-3">
          <h5>goles</h5>
        </th>
      </tr>
      <tr class="content-table-top">
        <td class="nombre-table-top"><span>Paolo Guerrero</span></td>
        <td class="equipo-table-top"><img src="img/icon-tab.png"/></td>
        <td class="goles-table-top"><span>8</span></td>
      </tr>
      <tr class="content-table-top">
        <td class="nombre-table-top"><span>Paolo Guerrero</span></td>
        <td class="equipo-table-top"><img src="img/icon-tab.png"/></td>
        <td class="goles-table-top"><span>8</span></td>
      </tr>
      <tr class="content-table-top">
        <td class="nombre-table-top"><span>Paolo Guerrero</span></td>
        <td class="equipo-table-top"><img src="img/icon-tab.png"/></td>
        <td class="goles-table-top"><span>8</span></td>
      </tr>
      <tr class="content-table-top">
        <td class="nombre-table-top"><span>Paolo Guerrero</span></td>
        <td class="equipo-table-top"><img src="img/icon-tab.png"/></td>
        <td class="goles-table-top"><span>8</span></td>
      </tr>
      <tr class="content-table-top">
        <td class="nombre-table-top"><span>Paolo Guerrero</span></td>
        <td class="equipo-table-top"><img src="img/icon-tab.png"/></td>
        <td class="goles-table-top"><span>8</span></td>
      </tr>
    </table><a href="" class="link-tabla-top">Ver mas</a>
  </div>
</section>
<!--SOCIAL-->
<section class="share-social module module-blue">          
  <h3>CONÉCTATE</h3>
  <div class="box">
    <ul>
      <li><a href="#" class="facebook"><i class="icon icon-facebook"></i></a></li>
      <li><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
      <li><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
      <li><a href="#" class="youtube"><i class="icon icon-youtube"></i></a></li>
    </ul>
  </div>
</section>
<!--ADS-->
<section class="ads ads-sidebar"> </section>
<!--HOT-->
<section class="flow-news module module-red">          
  <h3>+ CALIENTES</h3>
  <div class="box">
    <ul>
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="MMA: peleador le hizo un Hadouken asu oponente en plena pelea"/></a></figure>
          <h2><a href="#">MMA: peleador le hizo un Hadouken asu oponente en plena pelea</a></h2>
        </article>
      </li>
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="Paul Pogba es subastado por las marcas deportivas más grandes del mundo"/></a></figure>
          <h2><a href="#">Paul Pogba es subastado por las marcas deportivas más grandes del mundo</a></h2>
        </article>
      </li>
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)"/></a></figure>
          <h2><a href="#">The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)</a></h2>
        </article>
      </li>
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores"/></a></figure>
          <h2><a href="#">Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores</a></h2>
        </article>
      </li>
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="Alianza Lima: este será el once ante Unión Comercio sin Miers"/></a></figure>
          <h2><a href="#">Alianza Lima: este será el once ante Unión Comercio sin Miers</a></h2>
        </article>
      </li>
    </ul>
  </div>
</section>
<!--BLOOPERS-->
<section class="flow-news module module-green">          
  <h3>BLOOPERS</h3>
  <div class="box">
    <ul>
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="MMA: peleador le hizo un Hadouken asu oponente en plena pelea"/></a></figure>
          <h2><a href="#">MMA: peleador le hizo un Hadouken asu oponente en plena pelea</a></h2>
        </article>
      </li>
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="Paul Pogba es subastado por las marcas deportivas más grandes del mundo"/></a></figure>
          <h2><a href="#">Paul Pogba es subastado por las marcas deportivas más grandes del mundo</a></h2>
        </article>
      </li>
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)"/></a></figure>
          <h2><a href="#">The Strongest derrotó 3-1 a Internacional por la Copa Libertadores (VIDEO)</a></h2>
        </article>
      </li>
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores"/></a></figure>
          <h2><a href="#">Tigres vs. Juan Aurich en vivo desde México por la Copa Libertadores</a></h2>
        </article>
      </li>
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/4_3_mas_calientes.jpg" alt="Alianza Lima: este será el once ante Unión Comercio sin Miers"/></a></figure>
          <h2><a href="#">Alianza Lima: este será el once ante Unión Comercio sin Miers</a></h2>
        </article>
      </li>
    </ul>
  </div>
</section>
<!--ADS-->
<section class="ads ads-sidebar"> </section>
<!--GIRL 10-->
<section class="girl10-news module module-pink">          
  <h3>LA CHICA 10</h3>
  <div class="box">
    <ul class="title-top">
      <li>
        <article>
          <figure class="media"><a href="#"><img src="img/la_chica_10.jpg" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana"/></a></figure>
          <h2><span><a href="#">La divina Miss Colombia Paulina Vega es nuestra Chica 10 de la semana</a></span></h2>
        </article>
      </li>
    </ul>
  </div>
</section>
<section class="ads ads-sidebar">
  <div id="perured" class="box_sidebar-ads">
    <div class="publicidad_rpp">
      <script type="text/javascript">
        var cX = cX || {};
        cX.callQueue = cX.callQueue || [];
        cX.callQueue.push([ 'insertAdSpace', {
        adSpaceId : '0000000161912ad1',
        resizeToContentSize : true,
        useMappedRenderTemplate : true
        } ]);
      </script>    
      <style type="text/css">.template{ display: none; }</style>
      <!-- <body xmlns:tmp="javascript:">-->
      <!-- Include the cx.js script-->
      <script type="text/javascript">
        (function () {
        try {
        var scriptEl = document.createElement('script');
        scriptEl.type = 'text/javascript';
        scriptEl.async = 'async';
        scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js'
        : 'http://cdn.cxense.com/cx.js';
        var targetEl = document
        .getElementsByTagName('script')[0];
        targetEl.parentNode
        .insertBefore(scriptEl, targetEl);
        } catch (e) {
        }
        ;
        } ());
      </script>    
      <div id="adSpace">
        <div id="adsTemplate" class="template">
          <table style="border: 3px solid #CCCCCC; width: 300px; margin: 0 auto; background-color: #FFFFFF;          border-radius: 8px 8px 8px 8px; height: auto;" cellpadding="0" cellspacing="0">
            <tr>
              <th style="font-family: Arial, Helvetica, sans-serif; color: gray; font-size: 12px; background-color: #EEEEEE; height: 43px; border-bottom: 1px solid #CCCCCC; border-radius: 7px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;"><span style="float: left; padding-left: 15px; font-weight: normal;">Avisos<strong>PER&Uacute;RED</strong></span> <a href="http://perured.pe" style="float: right; font-family: Arial, Helvetica, sans-serif; color: #0D53B2; line-height: 14px; font-size: 11px; font-weight: normal; text-decoration: underline; padding-right: 15px; padding-top: 1px;" target="_blank">Anuncia aqu&iacute;</a></th>
            </tr>                    
            <tr>
              <td style="background: #FFFFFF; border-radius: 7px;">
                <table border="0" style="width: 100%;">
                  <tbody>
                    <!--
                    %
                    if (data && data.searchResult && data.searchResult.spaces && data.searchResult.spaces[0] && data.searchResult.spaces[0].ads) {
                    var ads = data.searchResult.spaces[0].ads;
                    for (var i = 0; i < ads.length; i++) {
                    var ad = ads[i];
                    if (ad.creative && ad.creative.content && ad.creative.content.length && ad.creative.images) {
                    var titularText = '';
                    var cuerpoText = '';
                    var displayUrlText = '';
                    var content = ad.creative.content;
                    for (var j = 0; j < content.length; j++) {
                    var contentItem = content[j];
                    if (contentItem.key === 'Titulo')
                    titularText = cX.library.getAllText(contentItem.value);
                    if (contentItem.key === 'Cuerpo')
                    cuerpoText = cX.library.getAllText(contentItem.value);
                    if (contentItem.key === 'DisplayUrl')
                    displayUrlText = cX.library.getAllText(contentItem.value);
                    }
                    var images = ad.creative.images;
                    var imgSrc = '';
                    var textWidth = 295;
                    for (var k = 0; k < images.length; k++) {
                    var image = images[k];
                    if (image.key === 'Imagen') { imgSrc = image.source; textWidth = 205; }
                    }
                    var clickUrl = ad.clickUrl;
                    %
                    -->
                    <tr>
                      <td style="border-bottom: 1px solid #EEEEEE; height: 100px; width: 300px; background-color: #FFFFFF;                        padding: 10px 4px; text-align: left;">
                        <div style="clear: both; width: 100%; padding-bottom: 5px;"><a target="_blank" tmp:href="{{clickUrl}}" style="line-height: 15px; font-family: Arial, Helvetica, sans-                            serif;                            color: #1B2FC4; font-size: 16px; font-weight: bold; text-decoration: none; margin-left: 2px;">{{titularText}}</a></div>                                            
                        <table style="border: 0px; margin: 0px; padding: 0px;">
                          <tbody>
                            <tr>
                              <!-- % if (imgSrc && imgSrc != '') { %-->
                              <td style="padding-right: 5px; vertical-align: top; width: 73px; background: #FFFFFF;"><a target="_blank" tmp:href="{{clickUrl}}"><img tmp:src="{{imgSrc}}" border="0" style="border: 1px solid #EEEEEE; width: 71px;                                    height: 78px;"/></a></td>
                              <!-- % } %-->
                              <td tmp:style="width: {{textWidth}}px; vertical-align: top; word-wrap: break-word; text-align: left;                                overflow: hidden; background: #FFFFFF;"><span tmp:style="line-height: 13px; width: {{textWidth}}px; word-wrap: break-word; font-family:                                  Arial, Helvetica, sans-serif; color: #000000; font-size: 11px; font-weight: normal; text-decoration: none;">{{cuerpoText}}</span>                                                            <br/>                                                            <a tmp:target="_blank" tmp:href="{{clickUrl}}" style="line-height: 15px; width: 210px;                                  word-wrap: break-word; font-family: Arial, Helvetica, sans-serif; color: #1B2FC4;                                  font-size: 11px; font-weight: normal; text-decoration: underline;">{{displayUrlText}}</a></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <!--
                    %
                    }
                    }
                    }
                    %
                    -->
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- Impression result callback-->
      <script type="text/javascript">
        function render_callback(event, data, context) {
        if (context && context.parentElementId) {
        if (parent && parent.postMessage) {
        var dv = document.getElementById('adSpace');
        _dvh=dv.innerHeight||dv.clientHeight||dv.offsetHeight;
        var message = 'method=updateAdSpace'
        + '&matchedAdCount='+ data.searchResult.spaces[0].ads.length
        + '&elementId='
        + encodeURIComponent(context.parentElementId)
        + '&contentWidth=300'
        + '&contentHeight='+(_dvh); /* Tomando como alto el documento del iframe */
        window.parent.postMessage(message, '*');
        }
        }
        }
      </script>
      <!-- Insert AdSpace-->
      <script type="text/javascript">
        var cX = cX || {};
        cX.callQueue = cX.callQueue || [];
        cX.callQueue.push(['insertAdSpace', {
        templateElementId: 'adsTemplate',
        targetElementId: 'adSpace',
        forwardHashArgs: true,
        onImpressionResult: render_callback,
        ps: 4,
        pn: 0
        }]);
      </script>        
      <div id="insertAdSpaceBeforeThis_0000000161912ad1" style="display: none"></div>    
      <script type="text/javascript">
        (function() {
        try {
        var scriptEl = document.createElement('script');
        scriptEl.type = 'text/javascript';
        scriptEl.async = 'async';
        scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js'
        : 'http://cdn.cxense.com/cx.js';
        var targetEl = document
        .getElementsByTagName('script')[0];
        targetEl.parentNode
        .insertBefore(scriptEl, targetEl);
        } catch (e) {
        }
        ;
        }());
      </script>
    </div>
  </div>
</section>
<div class="ads ads-sidebar unic">
  <iframe scrolling="no" id="crowdynews-iframe" width="300" frameborder="0" height="250" src=""></iframe>
</div>
<!--GOALS-->
<div id="fix_sidebar">
  <section class="goals module module-yellow">          
    <h3>redes sociales</h3>
    <div class="box">
      <div class="wrapper-sociales-fix">
        <div style="width: 100%; height: 300px;overflow:hidden;" data-crowdynews-widget="la10RPP/la10pe-widget-horizontal"></div>
        <div data-width="260" data-type="script" data-original="//widget.crowdynews.com/js/widget.js" class="pro lazy"></div>
      </div>
    </div>
  </section>
  <section class="goals module module-blue">          
    <h3>PEPAZAS</h3>
    <div class="box">
      <ul class="title-top">
        <li>
          <article>
            <figure class="media"><a href="#"><img src="img/16_9_mas_pepazas.jpg" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana"/></a></figure>
            <h2><span><a href="#">Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores</a></span></h2>
          </article>
        </li>
        <li>
          <article>
            <figure class="media"><a href="#"><img src="img/16_9_mas_pepazas.jpg" alt="¡Atención Cristal! Racing humilló 5-0 a Táchira por Copa"/></a></figure>
            <h2><span><a href="#">¡Atención Cristal! Racing humilló 5-0 a Táchira por Copa</a></span></h2>
          </article>
        </li>
      </ul>
    </div>
  </section>
</div>