
<!--FILTER-->
<section class="filter-date">
  <div class="box">
    <h3> Filtro por secciones</h3>
    <nav>
      <ul>
        <li class="active"><a href="#">Fútbol Internacional</a></li>
        <li><a href="#">Fútbol Peruano</a></li>
        <li><a href="#">La Selección</a></li>
        <li><a href="#">Full Contacto</a></li>
        <li><a href="#">Más Deportes</a></li>
      </ul>
    </nav>
  </div>
</section>