
<div class="wrapper-slider-gallery">
  <div class="container-slider-gallery">
    <div id="gallery1"></div>
    <script>
       
      rppWR.rppGallery({
      	items : [
      		{
      			src : 'http://www.antena2.com.co/sites/default/files/imagecache/650x430/imagenes/luis_suarez-ai_3210907k_1431458575.jpg',
      			credito : 'La10',
      			description : 'Luis Suárez anoto 2 goles durante el 2do tiempo, además realizó 3 asistencias claves para la victoria frente al PSG.'
      		},
      		{
      			src : 'http://www.antena2.com.co/sites/default/files/imagecache/650x430/imagenes/luis_suarez-ai_3210907k_1431458575.jpg',
      			credito : 'La10',
      			description : 'Luis Suárez anoto 2 goles durante el 2do tiempo, además realizó 3 asistencias claves para la victoria frente al PSG.'
      		},
      		{
      			src : 'http://www.antena2.com.co/sites/default/files/imagecache/650x430/imagenes/luis_suarez-ai_3210907k_1431458575.jpg',
      			credito : 'La10',
      			description : 'Luis Suárez anoto 2 goles durante el 2do tiempo, además realizó 3 asistencias claves para la victoria frente al PSG.'
      		}
        ],
      	posicion : 1,
      	id : '#gallery1'	
      })
    </script>
    <!--ul.gallery-list.slider-g
    - for(var a = 1; a < 4; a++)
    	li.item
    		figure
    			img(src="img/img-gallery.jpg", alt="")
    			figcaption 
    				strong Luis Suárez anoto 2 goles durante el 2do tiempo, además realizó 3 asistencias claves para la victoria frente al PSG.
    				.paginador
    					.creditos
    						p Créditos:
    						span La10
    					.pagers-legend-gallery
    						i.icon.icon-picture-o
    						span  de 3
    
    -->
    <div class="pr"> <a href="" class="n"></a><a href="" class="p"></a></div>
    
  </div>
</div>