
<section class="widget widget-resutl">
  <!--iframe(src="http://estadisticas.conmebol.com/lastResults_new.html")-->
  <div id="outFixture">
    <div class="topFixture">
      <h4>Resultados</h4>
      <nav>
        <ul>
          <li>Torneo del Inca</li>
          <li class="active">Champions League</li>
          <li>Europa League</li>
          <li>Descentralizado</li>
          <li>Copa America</li>
        </ul>
        <select onchange="rpp.tabsResult(this)">
          <option>Torneo del Inca</option>
          <option selected="selected">Champions League</option>
          <option>Europa League</option>
          <option>Descentralizado</option>
          <option>Copa America</option>
        </select>
      </nav>
    </div>
    <div id="cntFixture"></div>
    <script>rppWR.read({events: 'copainca',type: 'MaM', matchId: '224365'}).renderMaM({id: '#matchId-224365'});</script>
  </div>
</section>